= content_for :page_title_prefix, t("page_title.report.activate.complete", report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          = t("action.report.activate.complete.title")

        .govuk-panel__body
          = t("action.report.activate.complete.body", report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

      %h2.govuk-heading-m
        = t("page_content.report.activate.complete.heading")

      = t("page_content.report.activate.complete.html")

