=content_for :page_title_prefix, t("page_title.fund.show", name: @fund.title)

= link_to t("generic.link.back"), organisation_path(@fund.organisation), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @fund.title

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: "staff/shared/activities/activity", locals: { activity_presenter: ActivityPresenter.new(@fund) }
      = form_tag(fund_activities_path(@fund), method: "post") do
        = submit_tag t("page_content.fund.button.create_activity", activity: "fund"), class: "govuk-button"

  .govuk-grid-row
    .govuk-grid-column-full
      %h2.govuk-heading-m
        = t("page_content.fund.transactions")

      = link_to(I18n.t("page_content.transactions.button.create"), new_fund_transaction_path(@fund), class: "govuk-button")
      = render partial: '/staff/shared/transactions/table', locals: { transactions: @transaction_presenters }
