= content_for :page_title_prefix, t("page_title.forecast.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    - if @success
      .govuk-grid-column-full
        %h1.govuk-heading-xl
          = t("importer.success.heading")
        = render partial: "shared/forecasts/forecasts_by_activity"
        = link_to t("importer.success.back_link"), report_forecasts_path(@report_presenter), class: "govuk-button govuk-button"

    - else
      .govuk-grid-column-two-thirds
        %h1.govuk-heading-xl
          = t("page_title.forecast.upload")
        = render partial: "upload_form"

    - if @errors.any?
      .govuk-grid-column-full
        = render partial: "error_table"

