= content_for :page_title_prefix, t("page_title.report.approve.confirm", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.report.approve.confirm", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

      %p.govuk-body
        By confirming approval of this report you are confirming that the data has been checked and approved by the relevant members of ODA PMO, RMT and BEIS Finance. Once approved: the data can no longer be changed; the data can be published to external organisation.

      = form_for @report_presenter, url: report_state_path(@report_presenter) do |f|
        = hidden_field_tag :state, "approved"
        = f.govuk_submit t("action.report.approve.confirm.button")
