= f.govuk_error_summary
= f.govuk_collection_radio_buttons :budget_type,
  list_of_budget_types,
  :id,
  :name,
  legend: { tag: :h2 }

= f.govuk_collection_radio_buttons :status,
  list_of_budget_statuses,
  :id,
  :name,
  legend: { tag: :h2 }

= f.govuk_collection_radio_buttons :funding_type,
  list_of_funding_types,
  :code,
  :name,
  legend: { tag: :h2 }

= f.govuk_collection_select :financial_year,
  list_of_financial_years,
  :id,
  :name,
  options: { selected: f.object.financial_year, prompt: t("form.prompt.budget.financial_year") },
  label: { size: "m", tag: "h2" }

= f.govuk_date_field :period_start_date,
  legend: { size: "s" }

= f.govuk_date_field :period_end_date,
  legend: { size: "s" }

= f.govuk_collection_select :currency,
                               currency_select_options,
                               :code,
                               :name
= f.govuk_text_field :value

= f.govuk_submit t("default.button.submit")
