= content_for :page_title_prefix, t("page_title.activity.upload_level_b", organisation_name: @organisation_presenter.name)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload_level_b", organisation_name: @organisation_presenter.name)

      = t("action.activity.download.hint_level_b_html")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - unless hide_ispf_for_group?(:beis_users)
        = render partial: "fund_section", locals: { type: :ispf_oda }
        = render partial: "fund_section", locals: { type: :ispf_non_oda }
      = render partial: "fund_section", locals: { type: :non_ispf }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to "Back to home", home_path
