=content_for :page_title_prefix, @page_title

= link_to t("generic.link.back"), organisation_fund_path(@fund.organisation, @fund), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl= @page_title

      = form_for @fund, url: wizard_path do |f|
        = yield f

        = f.govuk_submit t("form.activity.submit")
