=content_for :page_title_prefix, @page_title

= link_to t("form.link.activity.back"), organisation_activity_details_path(@activity.organisation, @activity), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      = form_for @activity, url: wizard_path do |f|
        = yield f

        = f.govuk_submit t("form.button.activity.submit")

      %p.govuk-body
        Please refer to the
        = link_to_new_window("data dictionary", "https://beisodahelp.zendesk.com/hc/en-gb/articles/360058280774-RODA-Data-Dictionary-includes-field-labels-definitions-and-reporting-requirements")
        if you're unsure what information to enter above.
