=content_for :page_title_prefix, t("page_title.activity.new")

%p= link_to t("generic.link.back"), organisation_fund_path(@fund.id, organisation_id: @fund.organisation.id), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.new")

      = simple_form_for(@activity, method: :put, url: wizard_path) do |f|

        .govuk-form-group
          = f.input :aid_type,
                    wrapper: "select",
                    collection: yaml_to_options("activity", "aid_type"),
                    hint: t("form.activity.aid_type.hint.html")

        = f.button :submit, I18n.t("form.activity.submit")
