= render layout: "wrapper" do |f|
  = f.govuk_check_boxes_fieldset :benefitting_countries, legend: { tag: 'h1', size: 'xl' }, hint: { text: t("form.hint.activity.benefitting_countries_html") }  do |fs|
    - benefitting_regions_for_form.each do |region|

      %h3.govuk-heading-m
        = "#{region.name} (#{region.code})"

      .govuk-checkboxes__item.region-checkbox-wrapper
        = check_box_tag region.name, nil, false, "data-region-code" => region.code, class: "govuk-checkboxes__input region-checkbox"
        = label_tag region.name, class: "govuk-label govuk-checkboxes__label govuk-heading-m" do
          = t("page_content.activity.benefitting_region_check_box", region: region.name)

      .region-countries-wrapper{"data-region-code": region.code}
        - benefitting_countries_in_region_for_form(region).each do |country|
          = f.govuk_check_box :benefitting_countries, country.code, label: { text: "#{country.name} (#{country.code.upcase})" }, class: "country-checkbox"
