= render layout: "wrapper" do |f|
  %h1.govuk-heading-xl= @page_title
  %span.govuk-hint= t("form.hint.activity.country_delivery_partners")

  = f.govuk_error_summary

  - (0..9).each do |index|
    .govuk-form-group
      = text_field_tag "activity[country_delivery_partners][]", f.object.country_delivery_partners ? f.object.country_delivery_partners[index] : "", class: "govuk-input"
