= render layout: "wrapper" do |f|
  = f.govuk_radio_buttons_fieldset(:geography, legend: { text: t("page_title.activity_form.show.geography"), size: "xl", tag: "hq" }) do
    = f.hidden_field :geography, value: nil
    = f.govuk_radio_button :geography, :recipient_region, label: { text: t("activity.geography.recipient_region") }
    = f.govuk_radio_button :geography, :recipient_country, label: { text: t("activity.geography.recipient_country") }
