= render layout: "wrapper" do |f|
  - scoped_parent_activities = scoped_parent_activities(activity: f.object, user: current_user)
  = f.hidden_field :parent, value: nil
  = f.govuk_collection_radio_buttons :parent,
    scoped_parent_activities,
    :id,
    ->(activity){ ActivityPresenter.new(activity).display_title },
    legend: { tag: 'h1', size: 'xl', text: t("form.legend.activity.parent", parent_level: f.object.parent_level, level: f.object.level) },
    hint: { text: t("form.hint.activity.parent",
      parent_level: I18n.t("page_content.activity.level.#{f.object.parent_level}"),
      level: I18n.t("page_content.activity.level.#{f.object.level}")) }
