= render layout: "wrapper" do |f|
  %h1.govuk-heading-xl= @page_title
  %span.govuk-hint= t("form.hint.activity.policy_markers.title")

  = f.govuk_collection_radio_buttons :policy_marker_gender, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.gender").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_climate_change_adaptation, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.climate_change_adaptation").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_climate_change_mitigation, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.climate_change_mitigation").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_biodiversity, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.biodiversity").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_desertification, policy_markers_desertification_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.desertification").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_disability, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.disability").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_disaster_risk_reduction, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.disaster_risk_reduction").html_safe }
  = f.govuk_collection_radio_buttons :policy_marker_nutrition, policy_markers_radio_options, :value, :label, :description, legend: { tag: 'h2', size: 'l' }, hint: { text: t("form.hint.activity.policy_markers.nutrition").html_safe }
