= render layout: "wrapper" do |f|
  = f.govuk_fieldset legend: { text: t("form.legend.activity.purpose", level: t("page_content.activity.level.#{f.object.level}")), tag: :h1, size: "xl" } do
    = f.govuk_text_field :title
    = f.govuk_text_area :description, rows: 5
