= render layout: "wrapper" do |f|
  = f.govuk_error_summary
  = f.hidden_field :sector_category, value: nil
  = f.govuk_collection_radio_buttons :sector_category,
    sector_category_radio_options,
    :code,
    :name,
    legend: { tag: "h1", size: "xl", text: t("form.legend.activity.sector_category", level: t("page_content.activity.level.#{f.object.level}")) },
    hint: { text: t("form.hint.activity.sector_category_html", link: link_to_new_tab("CRS purpose codes", "https://beisodahelp.zendesk.com/hc/en-gb/articles/1500005455362-Sector")) }
