= content_for :page_title_prefix, t("page_title.activity.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload")

      %p.govuk-body
        You can use the upload as many times are you need to complete your report.<br>Use the template to ensure your data is in the correct format. See the help centre for more details.

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m
        = link_to t("action.activity.download.button"), report_activities_upload_path(@report_presenter, format: :csv), class: "govuk-link"

      %p.govuk-body
        = t("action.activity.download.hint_html")

      - if policy(@report_presenter).upload?
        .govuk-body.upload-form
          = form_for @report_presenter, url: report_activities_upload_path(@report_presenter) do |f|

            = f.govuk_file_field :activity_csv,
              label: { text: t("form.label.activity.csv_file") },
              hint: { text: t("form.hint.activity.csv_file") }

            = f.govuk_submit t("action.activity.upload.button")
      - else
        %h2.govuk-heading-m= t("form.label.activity.csv_file")

        %p.govuk-body
          = "This report is #{@report_presenter.state.downcase}, so CSV upload is unavailable."

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to "Back to report", report_path(@report_presenter)
