= content_for :page_title_prefix, t("page_title.activity.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload")

      = t("action.activity.download.hint_html")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - unless @report_presenter.is_oda && !ROLLOUT.active?(:oda_bulk_upload)
        = render partial: "fund_section", locals: { type: @report_presenter.oda_type }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to t("action.activity.upload.back_link"), report_path(@report_presenter), class: "govuk-link"
