= content_for :page_title_prefix, t("page_title.activity.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload")

      = t("action.activity.download.hint_html")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @is_ispf
        = render partial: "fund_section", locals: { type: :ispf_oda }
      - else
        = render partial: "fund_section", locals: { type: :non_ispf }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to "Back to report", report_path(@report_presenter)
