=content_for :page_title_prefix, t("page_title.comment.new")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @report.description

  .govuk-grid-row
    .govuk-grid-column-full
      %h2.govuk-heading-l
        = t("page_content.comment.add")

  .govuk-grid-row
    .govuk-grid-column-full
      = form_with model: @comment, url: activity_comments_path do |f|
        = f.govuk_error_summary
        = f.govuk_text_area :comment
        = f.hidden_field :activity_id, value: @activity.id
        = f.hidden_field :report_id, value: @report.id
        = f.govuk_submit t("default.button.submit")
