- unless third_party_projects.empty?
  %table.govuk-table.third-party-projects
    %caption.govuk-table__caption.govuk-visually-hidden
      = t("page_content.organisation.third_party_projects")
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("table.header.third_party_project.title")
        %th.govuk-table__header
          = t("table.header.third_party_project.identifier")
        %th.govuk-table__header
          =t("table.header.third_party_project.project")
        - if policy(:third_party_project).redact_from_iati?
          %th.govuk-table__header
            = t("summary.label.activity.publish_to_iati.label")

    %tbody.govuk-table__body
      - third_party_projects.each do |project|
        %tr.govuk-table__row{id: project.id}
          %td.govuk-table__cell= link_to project.display_title, organisation_activity_path(project.organisation, project), class: "govuk-link govuk-link--no-visited-state"
          %td.govuk-table__cell= project.delivery_partner_identifier
          %td.govuk-table__cell= project.parent_title
          - if policy(:third_party_project).redact_from_iati?
            %td.govuk-table__cell
              - if project.publish_to_iati?
                %strong.govuk-tag.govuk-tag--green
                  = t("summary.label.activity.publish_to_iati.true")
              - else
                %strong.govuk-tag.govuk-tag--red
                  = t("summary.label.activity.publish_to_iati.false")
