= content_for :page_title_prefix, t("page_title.actual.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.actual.upload")

      = t("page_content.actuals.upload.copy_html", report_actuals_template_path: report_actuals_upload_path(@report_presenter, format: :csv))

      = t("page_content.actuals.upload.warning_html")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if policy(@report_presenter).upload?
        .govuk-body.upload-form
          = form_for @report_presenter, url: report_actuals_upload_path(@report_presenter) do |f|

            = f.govuk_file_field :actual_csv,
              label: { text: t("form.label.actual.csv_file") },
              hint: { text: t("form.hint.actual.csv_file") }

            = f.govuk_submit t("action.actual.upload.button")
      - else
        %h2.govuk-heading-m= t("form.label.actual.csv_file")

        %p.govuk-body
          = "This report is #{@report_presenter.state.downcase}, so CSV upload is unavailable."
