= content_for :page_title_prefix, t("page_title.actual.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  - unless @success
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        %h1.govuk-heading-xl
          = t("page_title.actual.upload")

    - if @errors.any?
      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "error_table"

      - if @invalid_with_comment
        .govuk-grid-row
          .govuk-grid-column-two-thirds
            = render partial: "shared/warning_text", locals: { warning_text: t("page_content.actuals.upload.warning_comment_html") }

    .govuk-grid-row
      .govuk-grid-column-two-thirds
        = render partial: "upload_form"
  - else
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        %h1.govuk-heading-xl
          = t("page_title.actual.upload_success")

    - if ROLLOUT.active?(:use_new_activity_actual_refund_comment_importer)
      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "actuals"

      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "refunds"

      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "comments"

      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "skipped"

    - else
      .govuk-grid-row
        .govuk-grid-column-full
          = render partial: "shared/actuals/actuals_by_activity"

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to t("action.actual.upload.back_link"), report_actuals_path(@report_presenter), class: "govuk-link"
