= content_for :page_title_prefix, t("page_title.errors.not_authorised")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-xl
        = t("page_title.errors.not_authorised")
      %p.govuk-body
        = error_message
      %p.govuk-body
        = t("page_content.errors.support_prompt")
      %p.govuk-body
        = link_to t("default.link.go_home"), root_path, class: "govuk-link"
