%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full-width
      %h1.govuk-heading-xl
        = "Budget revisions"

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header= "Budget"
            %th.govuk-table__header= "Amount"
            %th.govuk-table__header= "Reason for change"


        %tbody.govuk-table__body
          - @audits.reverse.each_with_index do |audit, index|
            %tr.govuk-table__row
              %td.govuk-table__cell= audit.version == 1 ? "Original" : "Revision #{audit.version - 1}"
              %td.govuk-table__cell= @revisions[audit.version - 1].value
              %td.govuk-table__cell= audit.comment
