.govuk-grid-row
  .govuk-grid-column-full
    .govuk-tabs
      %h2.govuk-tabs__title
        = t("page_title.organisation.index")

      %ul.govuk-tabs__list{role: "tablist"}
        - %w[partner_organisations matched_effort_providers external_income_providers implementing_organisations].each do |role|
          %li{ class: "govuk-tabs__list-item #{role == @role ? "govuk-tabs__list-item--selected" : ""}", role: "presentation"}
            = link_to t("tabs.organisations.#{role}"), organisations_path(role: role), { class: "govuk-tabs__tab", role: "tab", aria: { selected: (role == @role) } }

      .govuk-tabs__panel
        %h2.govuk-heading-l
          = t("page_title.organisations.#{@role}")

        - if policy(Organisation).new?
          = link_to(t("page_content.organisations.#{@role}.button.create"), new_organisation_path(role: @role), class: "govuk-button")

        - if @organisations
          = render partial: "organisations/table", locals: { organisations: @organisations }
