= form_with model: @user do |f|
  = f.govuk_error_summary

  = f.govuk_text_field :name
  = f.govuk_email_field :email, disabled: (action_name == "edit")
  = f.govuk_collection_radio_buttons :role,
      list_of_user_roles,
      :id,
      :name,
      legend: { tag: :h2 }

  - if @service_owner.present?
    = f.govuk_radio_buttons_fieldset :organisation_id, classes: "user-organisations" do
      = f.govuk_radio_button :organisation_id, @service_owner.id, label: { text: @service_owner.name }, link_errors: true
      - if @delivery_partners.any?
        = f.govuk_radio_divider
        - @delivery_partners.each do |dp|
          = f.govuk_radio_button :organisation_id, dp.id, label: { text: dp.name }
  - else
    .govuk-inset-text
      = succeed "." do
        = t("page_content.users.new.no_organisations.cta")
        = link_to t("page_content.users.new.no_organisations.link"), new_organisation_path

  = f.govuk_collection_radio_buttons :active,
      user_active_options,
      :id,
      :name,
      legend: { tag: :h2 }

  = f.govuk_submit t("form.button.user.submit")
