= form_with model: @user do |f|
  = f.govuk_error_summary

  = f.govuk_text_field :name
  = f.govuk_email_field :email
  = f.govuk_collection_radio_buttons :role,
      list_of_user_roles,
      :id,
      :name,
      legend: { tag: :h2 }

  - if @organisations.any?
    = f.govuk_collection_radio_buttons :organisation_id,
        @organisations,
        :id,
        :name,
        legend: { tag: :h2 , text: t('form.user.organisation.label')},
        hint_text: t("form.user.organisation.hint")
  - else
    .govuk-inset-text
      = succeed "." do
        = t("page_content.users.new.no_organisations.cta")
        = link_to t("page_content.users.new.no_organisations.link"), new_organisation_path

  = f.govuk_submit t("form.user.submit")
