=content_for :page_title_prefix, t("page_title.users.new")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.users.new")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = simple_form_for @user do |f|
        .govuk-form-group
          = f.input :name
          = f.input :email
        .govuk-form-group
          %fieldset.govuk-fieldset
            = label_tag 'organisations', "Organisations", class: 'govuk-label'
            .govuk-checkboxes.checkbox-group
              - organisation_check_box_options.each_with_index do |organisation, i|
                .govuk-checkboxes__item
                  = check_box_tag 'organisations[]', organisation[1], false, id: 'organisations_' + organisation[1], class: 'govuk-checkboxes__input'
                  = label_tag 'organisations[]', organisation[0], for: 'organisations_' + organisation[1], class: 'govuk-label govuk-checkboxes__label'

        = f.button :submit, I18n.t("form.user.submit")
