=content_for :page_title_prefix, t("page_title.users.show", name: @user.name)

%p
  = link_to t("generic.link.back"), users_path, class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.users.show")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %dl
        %dt
          = t("user.name")
        %dd
          = @user.name
        %dt
          = t("user.email")
        %dd
          = @user.email
