=content_for :page_title_prefix, t("page_title.users.show", name: @user.name)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.users.show")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m Details
      %dl.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.name")
          %dd.govuk-summary-list__value
            = @user.name
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.email")
          %dd.govuk-summary-list__value
            = @user.email
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.organisation")
          %dd.govuk-summary-list__value
            = @user.organisation.name
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.identifier")
          %dd.govuk-summary-list__value
            = @user.identifier
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.active")
          %dd.govuk-summary-list__value
            = t("form.user.active.#{@user.active}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.user.confirmed_for_mfa.label")
          %dd.govuk-summary-list__value
            = t("summary.label.user.confirmed_for_mfa.#{@user.confirmed_for_mfa?}")
