- if reports.empty?
  = render partial: "staff/shared/reports/table_empty"
- else
  %table.govuk-table#inactive-reports
    %caption.govuk-table__caption.govuk-visually-hidden
      = t("page_content.reports.title")
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th{class: "govuk-table__header govuk-!-width-one-quarter"}
          =t("table.header.report.financial_quarter")
        - if current_user.service_owner?
          %th.govuk-table__header
            = t("table.header.report.organisation")
        %th.govuk-table__header
          =t("table.header.report.description")
        %th.govuk-table__header
          =t("table.header.report.fund")
        %th.govuk-table__header
          =t("table.header.report.deadline")
        %th.govuk-table__header

    %tbody.govuk-table__body
      - reports.each do |report|
        %tr.govuk-table__row{id: report.id}
          %td.govuk-table__cell= report.financial_quarter_and_year
          - if current_user.service_owner?
            %td.govuk-table__cell= report.organisation.name
          %td.govuk-table__cell= report.description
          %td.govuk-table__cell= report.fund.title
          %td.govuk-table__cell= report.deadline
          %td.govuk-table__cell
            = link_to t("table.body.report.action.edit"), edit_report_path(report), class: "govuk-link govuk-!-margin-left-2"
            = link_to t("default.link.view"), report_path(report), class: "govuk-link govuk-!-margin-left-2"
