%table.govuk-table.variance
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        = t("table.header.activity.identifier")
      %th.govuk-table__header
        = t("table.header.activity.forecasted_spend_for_quarter", financial_quarter_and_year: @report_presenter.financial_quarter_and_year)
      %th.govuk-table__header
        = t("table.header.activity.actual_spend_for_quarter", financial_quarter_and_year: @report_presenter.financial_quarter_and_year)
      %th.govuk-table__header
        = t("table.header.activity.variance_for_quarter", financial_quarter_and_year: @report_presenter.financial_quarter_and_year)
      - unless readonly
        %th.govuk-table__header
          = t("table.header.activity.comment")
        %th.govuk-table__header

  %tbody.govuk-table__body
    - activities.each do |activity|
      %tr.govuk-table__row{id: activity.id}
        - if activity.project?
          %td.govuk-table__cell= activity.roda_identifier
        - else
          %td.govuk-table__cell.level-d= activity.roda_identifier_fragment

        %td.govuk-table__cell= activity.forecasted_total_for_report_financial_quarter(report: @report)
        %td.govuk-table__cell= activity.actual_total_for_report_financial_quarter(report: @report)
        %td.govuk-table__cell= activity.variance_for_report_financial_quarter(report: @report)
        - unless readonly
          %td.govuk-table__cell
            -if activity.comment_for_report(report_id: @report.id) && policy(activity.comment_for_report(report_id: @report.id)).update?
              = a11y_action_link(t("table.body.report.edit_comment"), edit_activity_comment_path(activity, activity.comments.find_by(report_id: @report.id), report_id: @report.id))
            -elsif policy(:comment).create?
              = a11y_action_link(t("table.body.report.add_comment"), new_activity_comment_path(activity, report_id: @report.id), t("table.body.report.comment").downcase)
          %td.govuk-table__cell
            = a11y_action_link(t('default.link.view'), organisation_activity_path(activity.organisation, activity), activity.roda_identifier)

