%table.govuk-table.variance
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        = t("table.header.activity.identifier")
      %th.govuk-table__header
        = t("table.header.activity.forecasted_spend")
      %th.govuk-table__header
        = t("table.header.activity.actual_spend")
      %th.govuk-table__header
        = t("table.header.activity.variance")
      - unless readonly
        %th.govuk-table__header
          = t("table.header.activity.comments")
        %th.govuk-table__header
          %span.govuk-visually-hidden
            = t("table.header.default.actions")

  %tbody.govuk-table__body
    - activities.each do |activity|
      %tr.govuk-table__row{id: activity.id}
        %td.govuk-table__cell= activity.roda_identifier
        %td.govuk-table__cell= number_to_currency activity.forecasted_total_for_report_financial_quarter(report: @report)
        %td.govuk-table__cell= number_to_currency activity.actual_total_for_report_financial_quarter(report: @report)
        %td.govuk-table__cell= number_to_currency activity.variance_for_report_financial_quarter(report: @report)
        - unless readonly
          %td.govuk-table__cell
            - if activity.comments_for_report(report_id: @report.id).present?
              = a11y_action_link(t("table.body.report.view_comments"), organisation_activity_comments_path(activity.organisation, activity), "about #{activity.roda_identifier}")
            - elsif policy(:comment).create?
              = a11y_action_link(t("table.body.report.add_comment"), new_activity_comment_path(activity, report_id: @report.id), "about #{activity.roda_identifier}")
          %td.govuk-table__cell
            = a11y_action_link(t("default.link.view"), organisation_activity_path(activity.organisation, activity), activity.roda_identifier)

  %tfoot.govuk-table_footer
    %tr.govuk-table__row
      %th.govuk-table__header{"scope" => "row", "colspan" => "3"}
        = t("table.header.activity.total_variance")
      %td.govuk-table__cell{"colspan" => "3"}= number_to_currency @total
