- if budgets.empty?
  %p.govuk-body= t("page_content.budgets.no_budgets")
- else
  %table.govuk-table.budgets
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("table.header.activity.identifier")
        %th.govuk-table__header
          =t("table.header.budget.financial_year")
        %th.govuk-table__header
          =t("table.header.budget.value")
        %th.govuk-table__header
          %span.govuk-visually-hidden
            = t("table.header.default.actions")

    %tbody.govuk-table__body
      - budgets.each do |budget|
        %tr.govuk-table__row{id: budget.id}
          %td.govuk-table__cell= budget.parent_activity.roda_identifier
          %td.govuk-table__cell= budget.financial_year
          %td.govuk-table__cell= budget.value
          %td.govuk-table__cell
            - if policy(budget).edit?
              = link_to t("default.link.edit"), edit_activity_budget_path(budget.parent_activity, budget)
            - else
              %span.govuk-visually-hidden
                = t("table.cell.default.no_actions_available")
