= content_for :page_title_prefix, t("page_title.report.submit.complete", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          = t("action.report.submit.complete.title", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

      %h2.govuk-heading-m
        What happens next

      %p.govuk-body
        Your submission is now complete and you will receive email confirmation.

      %p.govuk-body
        = succeed "." do
          The RODA support team will
          %a{href: "https://beisodahelp.zendesk.com/hc/en-gb/articles/1500000101042-Reporting-and-Assurance-Process-Diagram-"} check and assure your submission

        = succeed "." do
          You may
          %a{href: "https://beisodahelp.zendesk.com/hc/en-gb/articles/1500000094841-Responding-to-BEIS-queries"}receive queries from BEIS
          before the report is approved, and you will be the main contact.

      %p.govuk-body
        You can still use RODA to:

      %ul.govuk-list.govuk-list--bullet
        %li
          View the data in this report and previous reports

  = render partial: "shared/help_and_support"
