=content_for :page_title_prefix, t("page_title.users.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.users.index")

      - if policy(User).new?
        = link_to t("page_content.users.button.create"), new_user_path, class: "govuk-button"

  .govuk-tabs{ data: { module: "govuk-tabs" } }
    %h2.govuk-tabs__title
      = t("page_title.report.index")
    %ul.govuk-tabs__list{role: "tablist"}
      - ["active", "inactive"].each do |state|
        %li.govuk-tabs__list-item{role: "presentation", class: @user_state == state ? "govuk-tabs__list-item--selected" : ""}
          %a.govuk-tabs__tab{href: users_index_path(user_state: state), role: "tab"}
            =t("tabs.users.#{state}")

    .govuk-tabs__panel

      .govuk-grid-row
        .govuk-grid-column-full
          - if @user_state == "active"
            = render partial: '/shared/users/active_table', locals: { users: @users }
          - else
            = render partial: '/shared/users/deactivated_table', locals: { users: @users }
