=content_for :page_title_prefix, t("page_title.users.reactivate")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_content.users.reactivate.title")

      = t("page_content.users.reactivate.content_html", email: @user.email)

      = form_with model: @user do |f|
        = f.hidden_field :active, value: true

        .govuk-button-group
          = f.govuk_submit t("page_content.users.button.continue")
          = link_to t("page_content.users.button.cancel"), edit_user_path, class: "govuk-button govuk-button--secondary"
