= content_for :page_title_prefix, "Reset password"

%h1.govuk-heading-l Forgot your password?

.govuk-grid-row
  .govuk-grid-column-one-third
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.govuk_error_summary

      = f.govuk_email_field :email, autofocus: true, autocomplete: "email"

      .actions
        = f.govuk_submit "Submit"
