=content_for :page_title_prefix, t("page_title.incoming_transfer.edit")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = destination_activity.title

      %h2.govuk-heading-l
        = t("page_title.incoming_transfer.edit")

      %p.govuk-body
        = t("intro.incoming_transfer")

      = form_with model: @transfer, url: activity_incoming_transfer_path(destination_activity, @transfer) do |f|
        = render partial: "form", locals: { f: f }

        = f.govuk_submit t("default.button.submit")
        = link_to t("form.link.activity.back"), organisation_activity_path(destination_activity.organisation, destination_activity), class: "govuk-button govuk-button--secondary", "data-module": "govuk-button", role: "button"
