= content_for :page_title_prefix, t("page_title.budget.upload_level_b")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.budget.upload_level_b")

  - unless @errors.empty?
    .govuk-grid-row
      .govuk-grid-column-full
        = render partial: "shared/budgets/uploads/error_table"

  - if @success
    - if @budgets[:created].any?
      = render partial: "shared/budgets/uploads/budgets_table", locals: { action: "created", budgets: @budgets[:created], table_caption: t("table.caption.budget.new_budgets") }
  - else
    = render partial: "shared/budgets/uploads/upload_form", locals: { model: BudgetUpload.new, path_helper: "level_b_budgets_upload_path" }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body= link_to "Back to home", home_path
