.govuk-fieldset.date-fieldset
  .govuk-label
    = "#{label}"
  .govuk-date-input__item
    .govuk-form-group
      = label_tag "#{name}_day", t("form.fund.date.day"), class: "govuk-label govuk-date-input__label"
      = text_field_tag "#{name}[day]", date&.day, class: "govuk-input govuk-date-input__input govuk-input--width-2", type: :number, pattern: "[0-9]*"
  .govuk-date-input__item
    .govuk-form-group
      = label_tag "#{name}_month", t("form.fund.date.month"), class: "govuk-label govuk-date-input__label"
      = text_field_tag "#{name}[month]", date&.month, class: "govuk-input govuk-date-input__input govuk-input--width-2", type: :number, pattern: "[0-9]*"
  .govuk-date-input__item
    .govuk-form-group
      = label_tag "#{name}_year", t("form.fund.date.year"), class: "govuk-label govuk-date-input__label"
      = text_field_tag "#{name}[year]", date&.year, class: "govuk-input govuk-date-input__input govuk-input--width-4", type: :number, pattern: "[0-9]*"
