%nav
  %ul{id: 'navigation', class: 'govuk-header__navigation', aria: { label: "Top Level Navigation"}}
    -if current_user.present? && current_user.active?

      %li{ class: navigation_item_class(home_path)}
        %a{ href: home_path, class: 'govuk-header__link' }
          = t("page_title.home")

      %li{ class: navigation_item_class(reports_path) }
        = link_to t("page_title.report.index"), reports_path, class: "govuk-header__link"

      %li{ class: navigation_item_class(organisation_activities_path(organisation_id: current_user.organisation_id)) }
        = link_to t("page_title.activity.index"), organisation_activities_path(organisation_id: current_user.organisation_id), class: "govuk-header__link"

      - if policy(:level_b).budget_upload?
        %li{ class: navigation_item_class(new_level_b_budgets_upload_path) }
          = link_to t("page_title.budget.index"), new_level_b_budgets_upload_path, class: "govuk-header__link"

      - if policy([:export, Organisation]).index?
        %li{ class: navigation_item_class(exports_path) }
          = link_to t("page_title.export.index"), exports_path, class: "govuk-header__link"
      - elsif policy([:export, current_user.organisation]).show?
        %li{ class: navigation_item_class(exports_organisation_path(id: current_user.organisation_id)) }
          = link_to t("page_title.export.index"), exports_organisation_path(id: current_user.organisation_id), class: "govuk-header__link"

      - if policy(Organisation).index?
        %li{ class: navigation_item_class(organisations_path) }
          = link_to t("page_title.organisation.index"), organisations_path, class: "govuk-header__link"

      - if policy(User).index?
        %li{ class: navigation_item_class(users_path) }
          = link_to t("page_title.users.index"), users_path, class: "govuk-header__link"

      %li{ class: navigation_item_class(destroy_user_session_path) }
        = link_to t("header.link.sign_out"), destroy_user_session_path, method: :delete, class: "govuk-header__link"
