%nav
  %ul{id: 'navigation', class: 'govuk-header__navigation', aria: { label: "Top Level Navigation"}}
    -if current_user.present? && current_user.active?

      %li{ class: navigation_item_class(organisation_path(current_user.organisation)) }
        %a{ href: organisation_path(current_user.organisation), class: 'govuk-header__link' }
          = t("page_title.home")

      %li{ class: navigation_item_class(reports_path) }
        = link_to t("page_title.report.index"), reports_path, class: "govuk-header__link"

      %li{ class: navigation_item_class(activities_path(organisation_id: current_user.organisation_id)) }
        = link_to t("page_title.activity.index"), activities_path(organisation_id: current_user.organisation_id), class: "govuk-header__link"

      - if policy(Organisation).index?
        %li{ class: navigation_item_class(organisations_path) }
          = link_to t("page_title.organisation.index"), organisations_path, class: "govuk-header__link"

      - if policy(User).index?
        %li{ class: navigation_item_class(users_path) }
          = link_to t("page_title.users.index"), users_path, class: "govuk-header__link"

      %li{ class: navigation_item_class(sign_out_path) }
        %a{ href: sign_out_path, class: 'govuk-header__link' }
          = t("header.link.sign_out")
