%table.govuk-table
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{class: "govuk-!-width-one-third", scope: "col"} Activity
      %th.govuk-table__header{class: "govuk-!-width-one-third", scope: "col"} RODA Identifier
      %th.govuk-table__header.govuk-table__header--numeric{class: "govuk-!-width-one-third", scope: "col"} Amount
  %tbody.govuk-table__body

    - @grouped_transactions.each do |activity, transactions|

      %tr.govuk-table__row{ id: "activity_#{activity.id}" }
        %td.govuk-table__cell= activity.title
        %td.govuk-table__cell= activity.roda_identifier
        %td.govuk-table__cell
          %table.govuk-table.transactions
            - transactions.each do |transaction|
              %tr.govuk-table__row
                %td.govuk-table__cell--numeric{class: "govuk-!-width-one-quarter", scope: "col"}
                  = transaction.value

    %tr.govuk-table__row.totals
      %td.govuk-table__cell Total
      %td.govuk-table__cell
      %td.govuk-table__cell.govuk-table__cell--numeric
        = @total_transaction
