=content_for :page_title_prefix, t("page_title.dashboard")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.dashboard")

      %p.govuk-body
        %strong
          = t("dashboards.show.welcome", name: current_user.name)

      %p.govuk-body
        %a{ href: sign_out_path }
          = t("generic.link.sign_out")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %hr
      %h3.govuk-heading-m
        = t('page_content.dashboard.header.manage_users')
      = link_to t("page_content.dashboard.button.manage_users"), users_path, class: "govuk-button"
