=content_for :page_title_prefix, t("page_title.dashboard")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.dashboard")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h3.govuk-heading-m
        = t("page_content.dashboard.header.manage_users")
      = link_to t("page_content.dashboard.button.manage_users"), users_path, class: "govuk-button"
      %hr.govuk-section-break.govuk-section-break--visible.govuk-section-break--m
      %h3.govuk-heading-m
        = t("page_content.dashboard.header.manage_organisations")
      = link_to t("page_content.dashboard.button.manage_organisations"), organisations_path, class: "govuk-button"
