%table.govuk-table#partner_organisations
  %caption.govuk-table__caption.govuk-table__caption--m
    = t("table.caption.activity.activities_by_partner_organisation")
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{scope: "col", class: "govuk-!-width-one-half" }
        = t("table.header.organisation.name")
      %th.govuk-table__header{scope: "col", class: "govuk-!-width-one-quarter" }
        = t("table.header.organisation.beis_organisation_reference")
      %th.govuk-table__header{scope: "col", class: "govuk-!-width-one-quarter" }
        = t("table.header.default.action")
  %tbody.govuk-table__body
    - partner_organisations.each do |partner_organisation|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = partner_organisation.name
        %td.govuk-table__cell
          = partner_organisation.beis_organisation_reference
        %td.govuk-table__cell
          = a11y_action_link  t("table.actions.activity.view_activities"), organisation_activities_path(partner_organisation), "for #{partner_organisation.name}", ["govuk-link", "govuk-link--no-visited-state"]
