%dl.govuk-summary-list.activity-details
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      = t("summary.label.activity.organisation")
    %dd.govuk-summary-list__value
      = activity_presenter.organisation.name
    %dd.govuk-summary-list__actions

  .govuk-summary-list__row.level
    %dt.govuk-summary-list__key
      = t("summary.label.activity.level")
    %dd.govuk-summary-list__value
      = activity_presenter.level
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && activity_presenter.level.blank?
        = a11y_action_link(t("default.link.add"), activity_step_path(activity_presenter, :level), t("summary.label.activity.level").downcase)

  - unless activity_presenter.fund?
    .govuk-summary-list__row.parent
      %dt.govuk-summary-list__key
        = t("summary.label.activity.parent")
      %dd.govuk-summary-list__value
        = link_to_activity_parent(parent: activity_presenter.parent, user: current_user)
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && activity_presenter.level.present? && activity_presenter.parent.blank?
          = a11y_action_link(t("default.link.add"), activity_step_path(activity_presenter, :parent), t("summary.label.activity.parent").downcase)

  .govuk-summary-list__row.identifier
    %dt.govuk-summary-list__key
      = t("summary.label.activity.delivery_partner_identifier")
    %dd.govuk-summary-list__value
      = activity_presenter.delivery_partner_identifier
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :identifier) && activity_presenter.delivery_partner_identifier.blank?
        = a11y_action_link(t("default.link.add"), activity_step_path(activity_presenter, :identifier), t("summary.label.activity.delivery_partner_identifier").downcase)

  .govuk-summary-list__row.roda_identifier
    %dt.govuk-summary-list__key
      = t("summary.label.activity.roda_identifier")
    %dd.govuk-summary-list__value
      = activity_presenter.roda_identifier
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :roda_identifier) && activity_presenter.can_set_roda_identifier?
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:roda_identifier_fragment)}"), activity_step_path(activity_presenter, :roda_identifier), t("summary.label.activity.title"))

  .govuk-summary-list__row.transparency-identifier
    %dt.govuk-summary-list__key
      = t("summary.label.activity.transparency_identifier")
    %dd.govuk-summary-list__value
      = activity_presenter.transparency_identifier
    %dd.govuk-summary-list__actions

  .govuk-summary-list__row.title
    %dt.govuk-summary-list__key
      = custom_capitalisation(t("summary.label.activity.title", level: activity_presenter.level))
    %dd.govuk-summary-list__value
      = activity_presenter.title
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :purpose)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:title)}"),
        activity_step_path(activity_presenter, :purpose), t("summary.label.activity.title"))

  .govuk-summary-list__row.description
    %dt.govuk-summary-list__key
      = t("summary.label.activity.description")
    %dd.govuk-summary-list__value
      = simple_format(activity_presenter.description, class: "govuk-body")
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :purpose)
        = a11y_action_link(I18n.t("default.link.#{activity_presenter.call_to_action(:description)}"), activity_step_path(activity_presenter, :purpose), I18n.t("summary.label.activity.description").downcase)

  - unless activity_presenter.fund?
    .govuk-summary-list__row.objectives
      %dt.govuk-summary-list__key
        = t("summary.label.activity.objectives")
      %dd.govuk-summary-list__value
        = simple_format(activity_presenter.objectives, class: "govuk-body")
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :objectives)
          = a11y_action_link(I18n.t("default.link.#{activity_presenter.call_to_action(:objectives)}"), activity_step_path(activity_presenter, :objectives), I18n.t("summary.label.activity.objectives").downcase)

  .govuk-summary-list__row.sector
    %dt.govuk-summary-list__key
      = t("summary.label.activity.sector", level: activity_presenter.level)
    %dd.govuk-summary-list__value
      = activity_presenter.sector_with_code
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :sector)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:sector)}"), activity_step_path(activity_presenter, :sector_category), t("summary.label.activity.sector"))

  - if @activity.is_project?
    .govuk-summary-list__row.uk_dp_named_contact
      %dt.govuk-summary-list__key
        = t("summary.label.activity.uk_dp_named_contact")
      %dd.govuk-summary-list__value
        = activity_presenter.uk_dp_named_contact
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :uk_dp_named_contact)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:uk_dp_named_contact)}"), activity_step_path(activity_presenter, :uk_dp_named_contact), t("summary.label.activity.uk_dp_named_contact"))

  - if activity_presenter.requires_call_dates?
    .govuk-summary-list__row.call_present
      %dt.govuk-summary-list__key
        = t("summary.label.activity.call_present")
      %dd.govuk-summary-list__value
        = activity_presenter.call_present
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :call_present)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:call_present)}"), activity_step_path(activity_presenter, :call_present), t("summary.label.activity.call_present"))

  - if activity_presenter.call_present?
    .govuk-summary-list__row.call_open_date
      %dt.govuk-summary-list__key
        = t("summary.label.activity.call_open_date")
      %dd.govuk-summary-list__value
        = activity_presenter.call_open_date
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :call_dates)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:call_open_date)}"), activity_step_path(activity_presenter, :call_dates), t("summary.label.activity.call_open_date"))

    .govuk-summary-list__row.call_close_date
      %dt.govuk-summary-list__key
        = t("summary.label.activity.call_close_date")
      %dd.govuk-summary-list__value
        = activity_presenter.call_close_date
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :call_dates)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:call_close_date)}"), activity_step_path(activity_presenter, :call_dates), t("summary.label.activity.call_close_date"))

  - if activity_presenter.call_present?
    .govuk-summary-list__row.total_applications
      %dt.govuk-summary-list__key
        = t("summary.label.activity.total_applications")
      %dd.govuk-summary-list__value
        = activity_presenter.total_applications
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :total_applications_and_awards)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:total_applications)}"), activity_step_path(activity_presenter, :total_applications_and_awards), t("summary.label.activity.total_applications"))

  - if activity_presenter.call_present?
    .govuk-summary-list__row.total_awards
      %dt.govuk-summary-list__key
        = t("summary.label.activity.total_awards")
      %dd.govuk-summary-list__value
        = activity_presenter.total_awards
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :total_applications_and_awards)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:total_awards)}"), activity_step_path(activity_presenter, :total_applications_and_awards), t("summary.label.activity.total_awards"))

  - unless activity_presenter.fund?
    .govuk-summary-list__row.programme_status
      %dt.govuk-summary-list__key
        = t("summary.label.activity.programme_status")
      %dd.govuk-summary-list__value
        = activity_presenter.programme_status
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :programme_status)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:programme_status)}"), activity_step_path(activity_presenter, :programme_status), t("summary.label.activity.programme_status"))

  - if activity_presenter.is_newton_funded?
    .govuk-summary-list__row.country_delivery_partners
      %dt.govuk-summary-list__key
        = t("summary.label.activity.country_delivery_partners")
      %dd.govuk-summary-list__value
        - if activity_presenter.country_delivery_partners.present?
          %ul.govuk-list
            - activity_presenter.country_delivery_partners.each do |cdp|
              %li
                = cdp
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :country_delivery_partners)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:country_delivery_partners)}"), activity_step_path(activity_presenter, :country_delivery_partners), t("summary.label.activity.country_delivery_partners"))

  .govuk-summary-list__row.planned_start_date
    %dt.govuk-summary-list__key
      = t("summary.label.activity.planned_start_date")
    %dd.govuk-summary-list__value
      = activity_presenter.planned_start_date
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :dates)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:planned_start_date)}"), activity_step_path(activity_presenter, :dates), t("summary.label.activity.planned_start_date"))

  .govuk-summary-list__row.planned_end_date
    %dt.govuk-summary-list__key
      = t("summary.label.activity.planned_end_date")
    %dd.govuk-summary-list__value
      = activity_presenter.planned_end_date
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :dates)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:planned_start_date)}"), activity_step_path(activity_presenter, :dates), t("summary.label.activity.planned_end_date"))

  .govuk-summary-list__row.actual_start_date
    %dt.govuk-summary-list__key
      = t("summary.label.activity.actual_start_date")
    %dd.govuk-summary-list__value
      = activity_presenter.actual_start_date
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :dates)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:planned_start_date)}"), activity_step_path(activity_presenter, :dates), t("summary.label.activity.actual_start_date"))

  .govuk-summary-list__row.actual_end_date
    %dt.govuk-summary-list__key
      = t("summary.label.activity.actual_end_date")
    %dd.govuk-summary-list__value
      = activity_presenter.actual_end_date
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :dates)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:planned_start_date)}"), activity_step_path(activity_presenter, :dates), t("summary.label.activity.actual_end_date"))

  - if activity_presenter.recipient_region?
    .govuk-summary-list__row.recipient_region
      %dt.govuk-summary-list__key
        = t("summary.label.activity.recipient_region")
      %dd.govuk-summary-list__value
        = activity_presenter.recipient_region
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :region)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:recipient_region)}"), activity_step_path(activity_presenter, :geography), t("summary.label.activity.recipient_region"))

  - if activity_presenter.recipient_country?
    .govuk-summary-list__row.recipient_country
      %dt.govuk-summary-list__key
        = t("summary.label.activity.recipient_country")
      %dd.govuk-summary-list__value
        = activity_presenter.recipient_country
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :country)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:recipient_country)}"), activity_step_path(activity_presenter, :geography), t("summary.label.activity.recipient_country"))

  .govuk-summary-list__row.requires_additional_benefitting_countries
    %dt.govuk-summary-list__key
      = t("summary.label.activity.requires_additional_benefitting_countries")
    %dd.govuk-summary-list__value
      = activity_presenter.requires_additional_benefitting_countries
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :requires_additional_benefitting_countries)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:requires_additional_benefitting_countries)}"), activity_step_path(activity_presenter, :requires_additional_benefitting_countries), t("summary.label.activity.requires_additional_benefitting_countries"))

  - if activity_presenter.requires_additional_benefitting_countries?
    .govuk-summary-list__row.intended_beneficiaries
      %dt.govuk-summary-list__key
        = t("summary.label.activity.intended_beneficiaries")
      %dd.govuk-summary-list__value
        = activity_presenter.intended_beneficiaries
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :intended_beneficiaries)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:intended_beneficiaries)}"), activity_step_path(activity_presenter, :intended_beneficiaries), t("summary.label.activity.intended_beneficiaries"))

  .govuk-summary-list__row.gdi
    %dt.govuk-summary-list__key
      = t("summary.label.activity.gdi")
    %dd.govuk-summary-list__value
      = activity_presenter.gdi
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :gdi)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:gdi)}"), activity_step_path(activity_presenter, :gdi), t("summary.label.activity.gdi"))

  - if activity_presenter.is_gcrf_funded?
    .govuk-summary-list__row.gcrf_strategic_area
      %dt.govuk-summary-list__key
        = t("summary.label.activity.gcrf_strategic_area")
      %dd.govuk-summary-list__value
        = activity_presenter.gcrf_strategic_area
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :gcrf_strategic_area)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:gcrf_strategic_area)}"), activity_step_path(activity_presenter, :gcrf_strategic_area), t("summary.label.activity.gcrf_strategic_area"))

  - if activity_presenter.is_gcrf_funded?
    .govuk-summary-list__row.gcrf_challenge_area
      %dt.govuk-summary-list__key
        = t("summary.label.activity.gcrf_challenge_area")
      %dd.govuk-summary-list__value
        = activity_presenter.gcrf_challenge_area
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :gcrf_challenge_area)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:gcrf_challenge_area)}"), activity_step_path(activity_presenter, :gcrf_challenge_area), t("summary.label.activity.gcrf_challenge_area"))

  - unless activity_presenter.fund?
    .govuk-summary-list__row.collaboration_type
      %dt.govuk-summary-list__key
        = t("summary.label.activity.collaboration_type")
      %dd.govuk-summary-list__value
        = activity_presenter.collaboration_type
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :collaboration_type) && Activity::Inference.service.editable?(@activity, :collaboration_type)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:collaboration_type)}"), activity_step_path(activity_presenter, :collaboration_type), t("summary.label.activity.collaboration_type"))

  - unless activity_presenter.fund?
    .govuk-summary-list__row.sustainable_development_goals
      %dt.govuk-summary-list__key
        = t("summary.label.activity.sustainable_development_goals")
      %dd.govuk-summary-list__value
        = activity_presenter.sustainable_development_goals
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :sustainable_development_goals)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:sustainable_development_goals)}"), activity_step_path(activity_presenter, :sustainable_development_goals), t("summary.label.activity.sustainable_development_goals"))

  - if activity_presenter.is_newton_funded?
    .govuk-summary-list__row.fund_pillar
      %dt.govuk-summary-list__key
        = t("summary.label.activity.fund_pillar")
      %dd.govuk-summary-list__value
        = activity_presenter.fund_pillar
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :fund_pillar)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:fund_pillar)}"), activity_step_path(activity_presenter, :fund_pillar), t("summary.label.activity.fund_pillar"))

  .govuk-summary-list__row.aid_type
    %dt.govuk-summary-list__key
      = t("summary.label.activity.aid_type")
    %dd.govuk-summary-list__value
      = activity_presenter.aid_type
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :aid_type)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:aid_type)}"), activity_step_path(activity_presenter, :aid_type), t("summary.label.activity.aid_type"))

  .govuk-summary-list__row.fstc_applies
    %dt.govuk-summary-list__key
      = t("summary.label.activity.fstc_applies.label")
    %dd.govuk-summary-list__value
      - unless activity_presenter.fstc_applies.to_s.blank?
        = t("summary.label.activity.fstc_applies.#{activity_presenter.fstc_applies}")
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :fstc_applies) && Activity::Inference.service.editable?(@activity, :fstc_applies)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:fstc_applies)}"), activity_step_path(activity_presenter, :fstc_applies), t("summary.label.activity.fstc_applies"))

  - if activity_presenter.project? || activity_presenter.third_party_project?
    .govuk-summary-list__row.policy_marker_gender
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_gender")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_gender
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_gender)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_gender"))

    .govuk-summary-list__row.policy_marker_climate_change_adaptation
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_climate_change_adaptation")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_climate_change_adaptation
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_climate_change_adaptation)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_climate_change_adaptation"))

    .govuk-summary-list__row.policy_marker_climate_change_mitigation
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_climate_change_mitigation")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_climate_change_mitigation
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_climate_change_mitigation)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_climate_change_mitigation"))

    .govuk-summary-list__row.policy_marker_biodiversity
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_biodiversity")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_biodiversity
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_biodiversity)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_biodiversity"))

    .govuk-summary-list__row.policy_marker_desertification
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_desertification")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_desertification
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_desertification)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_desertification"))

    .govuk-summary-list__row.policy_marker_disability
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_disability")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_disability
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_disability)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_disability"))

    .govuk-summary-list__row.policy_marker_disaster_risk_reduction
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_disaster_risk_reduction")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_disaster_risk_reduction
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_disaster_risk_reduction)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_disaster_risk_reduction"))

    .govuk-summary-list__row.policy_marker_nutrition
      %dt.govuk-summary-list__key
        = t("summary.label.activity.policy_marker_nutrition")
      %dd.govuk-summary-list__value
        = activity_presenter.policy_marker_nutrition
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :policy_markers)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:policy_marker_nutrition)}"), activity_step_path(activity_presenter, :policy_markers), t("summary.label.activity.policy_marker_nutrition"))

  .govuk-summary-list__row.covid19_related
    %dt.govuk-summary-list__key
      = t("summary.label.activity.covid19_related")
    %dd.govuk-summary-list__value
      = activity_presenter.covid19_related
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :covid19_related)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:covid19_related)}"), activity_step_path(activity_presenter, :covid19_related), t("summary.label.activity.covid19_related"))

  - if @activity.is_project?
    .govuk-summary-list__row.channel_of_delivery_code
      %dt.govuk-summary-list__key
        = t("summary.label.activity.channel_of_delivery_code")
      %dd.govuk-summary-list__value
        = activity_presenter.channel_of_delivery_code
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :channel_of_delivery_code) && Activity::Inference.service.editable?(@activity, :channel_of_delivery_code)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:channel_of_delivery_code)}"), activity_step_path(activity_presenter, :channel_of_delivery_code), t("summary.label.activity.channel_of_delivery_code"))

  .govuk-summary-list__row.oda_eligibility
    %dt.govuk-summary-list__key
      = t("summary.label.activity.oda_eligibility")
    %dd.govuk-summary-list__value
      = activity_presenter.oda_eligibility
    %dd.govuk-summary-list__actions
      - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :oda_eligibility)
        = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:oda_eligibility)}"), activity_step_path(activity_presenter, :oda_eligibility), t("summary.label.activity.oda_eligibility"))

  - if @activity.is_project?
    .govuk-summary-list__row.oda_eligibility_lead
      %dt.govuk-summary-list__key
        = t("summary.label.activity.oda_eligibility_lead")
      %dd.govuk-summary-list__value
        = activity_presenter.oda_eligibility_lead
      %dd.govuk-summary-list__actions
        - if policy(activity_presenter).update? && step_is_complete_or_next?(activity: activity_presenter, step: :oda_eligibility_lead)
          = a11y_action_link(t("default.link.#{activity_presenter.call_to_action(:oda_eligibility_lead)}"), activity_step_path(activity_presenter, :oda_eligibility_lead), t("summary.label.activity.oda_eligibility_lead"))


  - if policy(activity_presenter).redact_from_iati?
    .govuk-summary-list__row.publish_to_iati
      %dt.govuk-summary-list__key
        = t("summary.label.activity.publish_to_iati.label")
      %dd.govuk-summary-list__value
        = t("summary.label.activity.publish_to_iati.#{activity_presenter.publish_to_iati}")
      %dd.govuk-summary-list__actions
        = link_to(t("default.link.edit"), edit_activity_redaction_path(activity_presenter), class: "govuk-link")
