%table.govuk-table.activities
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        = t("table.header.activity.title")
      %th.govuk-table__header
        = t("table.header.activity.identifier")
      %th.govuk-table__header
        = t("table.header.activity.level")
      %th.govuk-table__header

  %tbody.govuk-table__body
    - @activity_presenters.each do |activity|
      %tr.govuk-table__row{ id: activity.id }
        %td.govuk-table__cell= activity.display_title
        %td.govuk-table__cell= activity.roda_identifier
        %td.govuk-table__cell= activity.level
        %td.govuk-table__cell
          = a11y_action_link t("table.body.activity.view_activity"),
            organisation_activity_path(activity.organisation, activity),
            activity.title
