%h2.govuk-tabs__title
  = t("tabs.activity.title")

%ul.govuk-tabs__list
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "financials", path: organisation_activity_financials_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "other_funding", path: organisation_activity_other_funding_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "details", path: organisation_activity_details_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "children", path: organisation_activity_children_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "comments", path: organisation_activity_comments_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "transfers", path: organisation_activity_transfers_path(@activity.organisation, @activity) }
  = render partial: "staff/shared/activities/tab_nav_item", locals: { tab: "historical_events", path: organisation_activity_historical_events_path(@activity.organisation, @activity) }
