- unless transactions.empty?
  %table.govuk-table.transactions
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          = t("table.header.transaction.transaction_type")
        %th.govuk-table__header
          = t("table.header.transaction.date")
        %th.govuk-table__header
          = t("table.header.transaction.currency")
        %th.govuk-table__header
          = t("table.header.transaction.value")
        %th.govuk-table__header
          = t("table.header.transaction.disbursement_channel")
        %th.govuk-table__header
          = t("table.header.transaction.providing_organisation")
        %th.govuk-table__header
          = t("table.header.transaction.receiving_organisation")
        %th.govuk-table__header

    %tbody.govuk-table__body
      - transactions.each do |transaction|
        %tr.govuk-table__row{id: transaction.id}
          %td.govuk-table__cell= transaction.transaction_type
          %td.govuk-table__cell= transaction.date
          %td.govuk-table__cell= transaction.currency
          %td.govuk-table__cell= transaction.value
          %td.govuk-table__cell= transaction.disbursement_channel
          %td.govuk-table__cell= transaction.providing_organisation_name
          %td.govuk-table__cell= transaction.receiving_organisation_name
          %td.govuk-table__cell
            - if policy(transaction).create?
              = a11y_action_link(I18n.t('default.link.edit'), edit_activity_transaction_path(transaction.parent_activity_id, transaction), t("page_content.transactions.edit_noun"))
