- unless transactions.empty?
  %table.govuk-table.transactions
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          = t("table.header.transaction.financial_quarter")
        %th.govuk-table__header
          = t("table.header.transaction.value")
        %th.govuk-table__header
          = t("table.header.transaction.receiving_organisation")
        %th.govuk-table__header

    %tbody.govuk-table__body
      - transactions.each do |transaction|
        %tr.govuk-table__row{id: transaction.id}
          %td.govuk-table__cell= transaction.financial_quarter_and_year
          %td.govuk-table__cell= transaction.value
          %td.govuk-table__cell= transaction.receiving_organisation_name
          %td.govuk-table__cell
            - if policy(transaction).edit?
              = a11y_action_link(t('default.link.edit'), edit_activity_transaction_path(transaction.parent_activity_id, transaction), t("page_content.transactions.edit_noun"))
