%table.govuk-table#commitment
  %caption.govuk-table__caption.govuk-table__caption--m
    = t("table.caption.commitment.financial_table")
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        = t("table.header.commitment.date")
      %th.govuk-table__header
        = t("table.header.commitment.amount")

  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell= commitment.transaction_date
      %td.govuk-table__cell= commitment.value
