= f.govuk_fieldset legend: { text: t("form.label.outgoing_transfer.financial_quarter") }, described_by: ["quarter-hint"] do
  %p.govuk-body
    %span.govuk-hint#quarter-hint
      = t("form.hint.outgoing_transfer.financial_quarter_and_year")
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = f.govuk_collection_radio_buttons :financial_quarter,
        list_of_financial_quarters,
        :id,
        :name,
        inline: true,
        legend: { text: t("form.label.outgoing_transfer.financial_quarter") , tag: :p, size: 's' }
    .govuk-grid-column-one-third
      = f.govuk_collection_select :financial_year,
        list_of_financial_years,
        :id,
        :name,
        label: { text: t("form.label.outgoing_transfer.financial_year"), tag: :p, size: 's' }
  = f.govuk_text_field :value, label: { size: 'm' }


