%dl.govuk-summary-list.activity-summary
  - if current_user.service_owner?
    .govuk-summary-list__row
      %dt.govuk-summary-list__key
        = t("activerecord.attributes.activity.partner_organisation")
      %dd.govuk-summary-list__value
        = activity_presenter.extending_organisation.name

  .govuk-summary-list__row.fund
    %dt.govuk-summary-list__key
      Fund
    %dd.govuk-summary-list__value
      = activity_presenter.source_fund.name

  .govuk-summary-list__row.programme_status
    %dt.govuk-summary-list__key
      = t("activerecord.attributes.activity.programme_status")
    %dd.govuk-summary-list__value
      = activity_presenter.programme_status

  .govuk-summary-list__row.roda_identifier
    %dt.govuk-summary-list__key
      = t("activerecord.attributes.activity.roda_identifier")
    %dd.govuk-summary-list__value
      = activity_presenter.roda_identifier

  .govuk-summary-list__row.identifier
    %dt.govuk-summary-list__key
      = t("activerecord.attributes.activity.partner_organisation_identifier")
    %dd.govuk-summary-list__value
      = activity_presenter.partner_organisation_identifier

  - if activity_presenter.is_ispf_funded?
    .govuk-summary-list__row.linked_activity
      %dt.govuk-summary-list__key
        = t("activerecord.attributes.activity.linked_activity")
      %dd.govuk-summary-list__value
        - if activity_presenter.linked_activity
          = link_to activity_presenter.linked_activity.title, organisation_activity_path(activity_presenter.linked_activity.organisation, activity_presenter.linked_activity)
