= content_for :page_title_prefix, t("page_title.activity.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload")

  - unless @errors.empty?
    .govuk-grid-row
      .govuk-grid-column-full
        = render partial: "staff/shared/activity_uploads/error_table"

  - if @success
    - if @activities[:created].any?
      = render partial: "staff/shared/activity_uploads/activities_table", locals: { action: "created", activities: @activities[:created], table_caption: t("table.caption.activity.new_activities") }
    - if @activities[:updated].any?
      = render partial: "staff/shared/activity_uploads/activities_table", locals: { action: "updated", activities: @activities[:updated], table_caption: t("table.caption.activity.updated_activities") }
  - else
    = render partial: "staff/shared/activity_uploads/upload_form", locals: { model: @report_presenter, path_helper: "report_activity_upload_path" }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = link_to "Back to report", report_path(@report_presenter), class: "govuk-link"
