= f.govuk_error_summary
= f.govuk_text_field :name
.uppercase-input
  = f.govuk_text_field :beis_organisation_reference
= f.govuk_collection_select :organisation_type,
                     organisation_type_options,
                     :code,
                     :name
= f.govuk_text_field :iati_reference,
                      hint: { text: t("form.hint.organisation.iati_reference_html", link: link_to_new_window("See International Aid Transparency Initiative (IATI) for detailed documentation", "https://reference.iatistandard.org/organisation-identifiers/")) }
= f.govuk_collection_select :language_code,
                     language_code_options,
                     :code,
                     :name
= f.govuk_collection_select :default_currency,
                     default_currency_options,
                     :code,
                     :name
= f.govuk_submit t("default.button.submit")
