=content_for :page_title_prefix, t("page_title.organisation.new")

= link_to t("generic.link.back"), organisations_path, class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.organisation.new")

      = simple_form_for @organisation do |f|
        .govuk-form-group
          = f.input :name
          = f.input :organisation_type,
                    wrapper: 'select',
                    collection: yaml_to_options("organisation", "organisation_type")
          = f.input :language_code,
                    wrapper: 'select',
                    collection: yaml_to_options("organisation", "language_code"),
                    hint: I18n.t("form.organisation.language_code.hint")
          = f.input :default_currency,
                    wrapper: 'select',
                    collection: yaml_to_options("organisation", "default_currency"),
                    hint: I18n.t("form.organisation.default_currency.hint")

        = f.button :submit, I18n.t("form.organisation.submit")
