=content_for :page_title_prefix, t("page_title.organisation.show", name: @organisation_presenter.name)

= link_to t("generic.link.back"), organisations_path, class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.organisation.show", name: @organisation_presenter.name)

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m Details
      = link_to t("page_content.organisation.button.edit"), edit_organisation_path(@organisation_presenter), class: "govuk-button"
      %dl.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.organisation.name.label")
          %dd.govuk-summary-list__value
            = @organisation_presenter.name
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.organisation.type.label")
          %dd.govuk-summary-list__value
            = t("organisation.organisation_type.#{@organisation_presenter.organisation_type}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.organisation.language_code.label")
          %dd.govuk-summary-list__value
            = t("organisation.language_code.#{@organisation_presenter.language_code}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.organisation.default_currency.label")
          %dd.govuk-summary-list__value
            = t("generic.default_currency.#{@organisation_presenter.default_currency}")

      - if policy(Fund).index?
        %h2.govuk-heading-m
          = t("page_content.organisation.funds")
        - if policy(Fund).create?
          = link_to(t("page_content.organisation.button.create_fund"), new_organisation_fund_path(@organisation_presenter), class: "govuk-button")

        %ul.govuk-list.govuk-list--bullet
          - @funds.each do |fund|
            %li
              = link_to fund.name, organisation_fund_path(fund.organisation, fund)
