=content_for :page_title_prefix, t("page_title.organisation.show", name: @organisation_presenter.name)

= organisation_page_back_link(current_user, params)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @organisation_presenter.name

  - if @funds.any? { |fund| policy(fund).create_child? }
    .govuk-grid-row
      .govuk-grid-column-full
        %h2.govuk-heading-m
          = t("create_programme", scope: "page_content.organisation")

        - @funds.each do |fund|
          - if policy(fund).create_child?
            = button_to t("form.button.activity.new_child", name: fund.title),
                organisation_activity_children_path(@organisation_presenter, fund),
                class: "govuk-button govuk-!-margin-right-4"

  - if policy(@organisation_presenter).download? && @organisation_funds.any?
    .govuk-grid-row
      .govuk-grid-column-full.download-projects
        %h2.govuk-heading-m
          = t("page_content.organisation.programmes")
        %div.govuk-body
          = t("page_content.organisation.download.programmes.explanation")

        - @organisation_funds.each do |fund|
          = link_to t("page_content.organisation.download.programmes.button", fund_title: fund.title),
              organisation_path(@organisation_presenter, format: :xml, level: :programme, fund_id: fund.id),
              class: "govuk-button"

  - if policy(@organisation_presenter).download? && @project_activities.present?
    .govuk-grid-row
      .govuk-grid-column-full.download-projects
        %h2.govuk-heading-m
          = t("page_content.organisation.projects")
        %div.govuk-body
          = t("page_content.organisation.download.projects.explanation")
        = link_to t("default.button.download_as_xml"), organisation_path(@organisation_presenter, format: :xml, level: :project), class: "govuk-button"

  - if policy(@organisation_presenter).download? && @third_party_project_activities.present?
    .govuk-grid-row
      .govuk-grid-column-full.download-third-party-projects
        %h2.govuk-heading-m
          = t("page_content.organisation.third_party_projects")
        %div.govuk-body
          = t("page_content.organisation.download.third-party-projects.explanation")
        = link_to t("default.button.download_as_xml"), organisation_path(@organisation_presenter, format: :xml, level: :third_party_project), class: "govuk-button"

  - unless @organisation_presenter.service_owner?
    = render partial: "grouped_programmes", locals: { grouped_programmes: @grouped_programmes }

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m
        = t("page_content.organisation.details")

      %dl.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.organisation.iati_reference")
          %dd.govuk-summary-list__value
            = @organisation_presenter.iati_reference
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.organisation.organisation_type")
          %dd.govuk-summary-list__value
            = t("organisation.organisation_type.#{@organisation_presenter.organisation_type}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.organisation.language_code")
          %dd.govuk-summary-list__value
            = t("organisation.language_code.#{@organisation_presenter.language_code}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.organisation.default_currency")
          %dd.govuk-summary-list__value
            = t("generic.default_currency.#{@organisation_presenter.default_currency}")
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("summary.label.organisation.beis_organisation_reference")
          %dd.govuk-summary-list__value
            = @organisation_presenter.beis_organisation_reference

      - if policy(:organisation).edit?
        = link_to t("page_content.organisation.button.edit_details"), edit_organisation_path(@organisation_presenter), class: "govuk-button"
