%table.govuk-table.users
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        = t("table.header.user.name")
      %th.govuk-table__header
        = t("table.header.user.email")
      %th.govuk-table__header
        = t("table.header.user.organisation")
      %th.govuk-table__header
        = t("table.header.user.active")
      %th.govuk-table__header
        %span.govuk-visually-hidden
          = t("table.header.default.actions")

  %tbody.govuk-table__body
    - users.each do |user|
      %tr.govuk-table__row
        %td.govuk-table__cell= user.name
        %td.govuk-table__cell= user.email
        %td.govuk-table__cell.organisation= user.organisation.name
        %td.govuk-table__cell= t("form.user.active.#{user.active}")
        %td.govuk-table__cell
          = a11y_action_link(t("default.link.show"), user_path(user), user.name)
          = a11y_action_link(t("default.link.edit"), edit_user_path(user), user.name, ["govuk-!-margin-left-3"])
