= content_for :page_title_prefix, "Log in"

= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f|
  .govuk-grid-row
    .govuk-grid-column-one-third
      .govuk-form-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h1.govuk-fieldset__heading
              Verify your login

          = f.govuk_text_field :otp_attempt,
                                label: { text: "Please enter your six-digit verification code" },
                                inputmode: "numeric",
                                pattern: "[0-9]*",
                                autocomplete: "one-time-code"

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body
        Didn't get a message?

        - unless resource.mobile_number_confirmed_at.present?
          = link_to "Check your mobile number is correct", edit_mobile_number_path
        - else
          = link_to "Resend code", resend_otp_path, method: :post

  .govuk-grid-row
    .govuk-grid-column-one-third
      .actions
        = f.govuk_submit "Continue"
