- unless programmes.empty?
  %table.govuk-table.programme
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("activerecord.attributes.programme.name")
        %th.govuk-table__header
          =t("page_content.programmes.fund_name.label")
        %th.govuk-table__header
          =t("page_content.programmes.organisation_name.label")
        %th.govuk-table__header

    %tbody.govuk-table__body
      - programmes.each do |programme|
        %tr.govuk-table__row{id: programme.id}
          %td.govuk-table__cell= programme.name
          %td.govuk-table__cell= programme.fund.name
          %td.govuk-table__cell= programme.organisation.name
          %td.govuk-table__cell
            = link_to(I18n.t('generic.link.show'), fund_programme_path(programme.fund, programme), class: 'govuk-link')
            = link_to(I18n.t('generic.link.edit'), edit_fund_programme_path(programme.fund, programme), class: 'govuk-link')
