= f.govuk_error_summary
= f.govuk_text_field :reference
= f.govuk_text_area :description
= f.govuk_collection_select :transaction_type,
                               yaml_to_objects(entity: "transaction", type: "transaction_type"),
                               :code,
                               :name,
                               hint_text: t("form.transaction.transaction_type.hint")
= f.govuk_date_field :date,
            legend: { text: t("form.transaction.date.label"), size: "s" }
= f.govuk_collection_select :currency,
                               currency_select_options,
                               :code,
                               :name
= f.govuk_text_field :value
= f.govuk_collection_select :disbursement_channel,
                               yaml_to_objects(entity: "transaction", type: "disbursement_channel"),
                               :code,
                               :name,
                               hint_text: t("form.transaction.disbursement_channel.hint")

%h2.govuk-heading-m= t("form.transaction.providing_organisation.title")
%span.govuk-hint= t("form.transaction.providing_organisation.hint")
= f.govuk_text_field :providing_organisation_name
= f.govuk_collection_select :providing_organisation_type,
                     yaml_to_objects(entity: "organisation", type: "organisation_type"),
                     :code,
                     :name
= f.govuk_text_field :providing_organisation_reference,
                      label: { text: t("form.transaction.providing_organisation_reference.label") },
                      hint_text: t("form.transaction.providing_organisation_reference.hint").html_safe

%h2.govuk-heading-m= t("form.transaction.receiving_organisation.title")
%span.govuk-hint= t("form.transaction.receiving_organisation.hint")
= f.govuk_text_field :receiving_organisation_name
= f.govuk_collection_select :receiving_organisation_type,
                     yaml_to_objects(entity: "organisation", type: "organisation_type"),
                     :code,
                     :name
= f.govuk_text_field :receiving_organisation_reference,
                     label: { text: t("form.transaction.receiving_organisation_reference.label") },
                     hint_text: t("form.transaction.receiving_organisation_reference.hint").html_safe


= f.govuk_submit t("generic.button.submit")
