= f.govuk_error_summary

= f.govuk_fieldset legend: { text: nil } do
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = f.govuk_collection_radio_buttons :financial_quarter,
        list_of_financial_quarters,
        :id,
        :name,
        inline: true,
        legend: { text: "Financial quarter" , tag: :h2 }
    .govuk-grid-column-one-third
      = f.govuk_collection_select :financial_year,
        list_of_financial_years,
        :id,
        :name,
        label: { text: "Financial year", tag: :h2, size: "m" }

= f.govuk_text_field :value, width: 20

= f.govuk_submit t("default.button.submit")
