= f.govuk_error_summary

= f.govuk_text_field :value, width: 'one-third',
  label: { text: t("form.label.actual.value"), tag: :p, size: 's' }

= f.govuk_fieldset legend: { text: nil } do
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = f.govuk_collection_radio_buttons :financial_quarter,
        list_of_financial_quarters,
        :id,
        :name,
        inline: true,
        legend: { text: "Financial quarter" , tag: :h2 }
    .govuk-grid-column-one-third
      = f.govuk_collection_select :financial_year,
        list_of_financial_years(FinancialYear.previous_ten),
        :id,
        :name,
        label: { text: "Financial year", tag: :h2, size: "m" }

= f.govuk_fieldset legend: { text: t("form.legend.actual.receiving_organisation") } do
  %span.govuk-hint= t("form.hint.actual.receiving_organisation")
  = f.govuk_text_field :receiving_organisation_name,
    label: { text: t("form.label.actual.receiving_organisation_name") }

  = f.govuk_collection_select :receiving_organisation_type,
                      organisation_type_options,
                      :code,
                      :name,
                      label: { text: t("form.label.actual.receiving_organisation_type") }

  = f.govuk_text_field :receiving_organisation_reference,
    label: { text: t("form.label.actual.receiving_organisation_reference") },
    hint: { text: t("form.hint.actual.receiving_organisation_reference_html") }

- if ActualPolicy.new(current_user, f.object).create_comment?
  = f.govuk_text_area :comment,
    value: f.object.comment

= f.govuk_submit t("default.button.submit")
