- unless projects.empty?
  %table.govuk-table.projects
    %caption.govuk-table__caption.govuk-visually-hidden
      = t("page_content.organisation.projects")
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("table.header.project.title")
        %th.govuk-table__header
          = t("table.header.project.identifier")
        %th.govuk-table__header
          =t("table.header.project.programme")

    %tbody.govuk-table__body
      - projects.each do |project|
        %tr.govuk-table__row{id: project.id}
          %td.govuk-table__cell= link_to project.display_title, organisation_activity_path(project.organisation, project), class: "govuk-link govuk-link--no-visited-state"
          %td.govuk-table__cell= project.identifier
          %td.govuk-table__cell= project.parent_activity.title
