= content_for :page_title_prefix, t("page_title.activity.implementing_organisation.new", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.implementing_organisation.new")

      = form_with model: @implementing_organisation, url: activity_implementing_organisations_path(@activity) do |f|
        = f.govuk_error_summary
        = f.hidden_field :activity_id, value: @activity.id
        = f.govuk_text_field :name
        = f.govuk_collection_select :organisation_type,
                     organisation_type_options,
                     :code,
                     :name
        = f.govuk_text_field :reference
        = f.govuk_submit t("default.button.submit")
