= content_for :page_title_prefix, t("page_title.activity.implementing_organisation.new", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.implementing_organisation.new")

      = form_with scope: :implementing_organisation, model: @implementing_organisation, url: activity_implementing_organisations_path(@activity) do |f|
        = f.govuk_error_summary
        = f.hidden_field :activity_id, value: @activity.id
        = f.govuk_collection_select :organisation_id,
                     @implementing_organisations,
                     :id,
                     :name,
                     label: { text: t("form.label.implementing_organisation"), tag: :p, size: 'm' }
        = f.govuk_submit t("default.button.submit")

      .govuk-inset-text
        = t("form.guidance_html", link: support_email_link)

