= content_for :page_title_prefix, t("page_title.report.submit.confirm", report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.report.submit.confirm", report_financial_quarter: @report_presenter.financial_quarter_and_year)

      %p.govuk-body
        Once you submit your report:

      %ul.govuk-list.govuk-list--bullet
        %li
          No other users from your organisation can submit another report for this reporting period
        %li
          You will be the contact for any queries from BEIS
        %li
          You will be accountable for the data so  it is your responsibility to make sure it is ODA eligible and accurate
        %li
          You will be the contact for any freedom of information requests about this data once it has been published

      %p.govuk-body
        = succeed "." do
          This report should only be submitted by a
          %a{href: ""} Submitting Officer

      = form_for @report_presenter, url: report_state_path(@report_presenter) do |f|
        = hidden_field_tag :state, "submitted"
        = f.govuk_submit t("action.report.submit.confirm.button")

  = render partial: "shared/help_and_support"
