- if grouped_activities.any?
  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs{ data: { module: "govuk-tabs" } }
        %h2.govuk-tabs__title
          Current activities
        %ul.govuk-tabs__list
          - grouped_activities.each do |fund, _programmes|
            %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
              = link_to fund.title, home_path(anchor: fund.title.parameterize), class: "govuk-tabs__tab"
        - grouped_activities.each do |fund, programmes|
          - if programmes.any?
            .govuk-tabs__panel{ id: fund.title.parameterize }
              %table{id: fund.id, class: "govuk-table", data: {module: "table-tree-view"}}
                %caption{class: "govuk-table__caption govuk-table__caption--m govuk-!-margin-top-4"}
                  = fund.title
                %thead{class: "govuk-table__head"}
                  %tr{class: "govuk-table__row"}
                    %th{scope: "col", class: "govuk-table__header govuk-!-width-one-half"}
                      = t("table.header.activity.title")
                    %th{scope: "col", class: "govuk-table__header"}
                      = t("table.header.activity.identifier")
                    %th{scope: "col", class: "govuk-table__header"}
                      = t("table.header.activity.programme_status")
                    %th{scope: "col", class: "govuk-table__header"}

                %tbody{class: "govuk-table__body"}
                  - programmes.each do |programme, projects|
                    = render partial: "shared/activities/tree_view/row", locals: { activity: programme, parent: fund, is_parent: projects.any? }
                    - projects.each do |project, third_party_projects|
                      = render partial: "shared/activities/tree_view/row", locals: { activity: project, parent: programme, is_parent: third_party_projects.any? }
                      - third_party_projects.each do |third_party_project|
                        = render partial: "shared/activities/tree_view/row", locals: { activity: third_party_project, parent: project, is_parent: false }

              = link_to "View all activities", activities_path(organisation_id: current_user.organisation.id), class: "govuk-body govuk-link"
