%h3.govuk-heading-m
  = t("tabs.forecasts.providing.heading")

%p.govuk-body
  = t("tabs.forecasts.providing.copy")

%h3.govuk-heading-s
  = t("tabs.forecasts.upload.heading")

= t("tabs.forecasts.upload.copy_html")

.govuk-inset-text
  = t("tabs.forecasts.upload.warning")

.govuk-button-group
  = link_to t("page_content.forecasts.button.download_template"), report_forecast_upload_path(@report_presenter, format: :csv), class: "govuk-button govuk-button--secondary"
  = link_to t("page_content.forecasts.button.upload"), new_report_forecast_upload_path(@report_presenter), class: "govuk-button govuk-button"
