=content_for :page_title_prefix, t("page_title.report.budgets",report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.report.show", report_fund: @report_presenter.fund.source_fund.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

      %dl.govuk-summary-list.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("form.label.report.state")
          %dd.govuk-summary-list__value
            = @report_presenter.state

    - if policy(@report_presenter).download?
      = render partial: "staff/reports/download", locals: { report_presenter: @report_presenter }

  = render partial: "staff/reports/actions", locals: { report_presenter: @report_presenter }

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Contents

        %ul.govuk-tabs__list
          %li.govuk-tabs__list-item
            = link_to t("tabs.report.variance"),
              report_variance_path(@report),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "financials", selected: false } }
          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.report.budgets"),
              report_budgets_path(@report),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "details", selected: true } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("tabs.report.budgets")

          = render partial: "staff/shared/reports/table_budgets", locals: { budgets: @budgets }
