= content_for :page_title_prefix, t("document_title.report.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.report.index")

  .govuk-grid-column-full.page-actions
    = link_to t("action.report.download.reports"), reports_path(format: :csv), class: "govuk-button govuk-button--secondary govuk-!-margin-left-4"

  .govuk-tabs{ data: { module: "govuk-tabs" } }
    = render partial: "staff/shared/reports/tabs"

    .govuk-tabs__panel{ id: "current" }
      = render partial: "staff/shared/reports/grouped_table", locals: { grouped_reports: @grouped_reports.current, type: "current" }
    .govuk-tabs__panel{ id: "historic" }
      = render partial: "staff/shared/reports/grouped_table", locals: { grouped_reports: @grouped_reports.historic, type: "historic" }

