= content_for :page_title_prefix, t("document_title.activity.children", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @activity.title

  .govuk-grid-row
    .govuk-grid-column-full
      - if @activity.project? || @activity.third_party_project?
        - if policy(:project).download? || policy(:third_party_project).download?
          = link_to t("default.button.download_as_xml"), organisation_activity_path(@activity.organisation, @activity, format: :xml), class: "govuk-button"

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          = t("tabs.activity.title")

        %ul.govuk-tabs__list
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.financials"),
              organisation_activity_financials_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "financials", selected: true } }
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.details"),
              organisation_activity_details_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "details", selected: true } }
          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.activity.children"),
              organisation_activity_children_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "children", selected: false } }
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.comments"),
              organisation_activity_comments_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "comments", selected: false } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activity.children")

          - if @activity.fund? && policy(:fund).create?
            = render partial: "staff/shared/activities/programmes", locals: { activity: @activity, activities: @activities }

          - if @activity.programme?
            = render partial: "staff/shared/activities/projects", locals: { activity: @activity, activities: @activities }

          - if @activity.project?
            = render partial: "staff/shared/activities/third_party_projects", locals: { activity: @activity, activities: @activities }
