= content_for :page_title_prefix, t("document_title.activity.comments", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @activity.title

  - unless @activity.fund?
    .govuk-grid-row
      .govuk-grid-column-full
        = render partial: "staff/shared/activities/activity_summary", locals: { activity_presenter: @activity }

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        = render "staff/shared/activities/tab_nav"

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.comment.index")

          .govuk-body
            = t("page_content.comment.index_html")

          %dl.govuk-summary-list.activity_comments
            - @comments.each do |comment|
              - report_presenter = ReportPresenter.new(comment.report)
              .govuk-summary-list__row
                %dt.govuk-summary-list__key
                  = "#{report_presenter.financial_quarter_and_year} #{comment.report.description}"
                %dd.govuk-summary-list__value
                  = comment.comment
                %dd.govuk-summary-list__actions
                  - if policy(comment).update?
                    = a11y_action_link(t("default.link.edit"), edit_activity_comment_path(@activity, comment), t("table.body.report.comment").downcase)

