= content_for :page_title_prefix, t("document_title.activity.comments", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @activity.title

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          = t("tabs.activity.title")

        %ul.govuk-tabs__list
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.financials"),
              organisation_activity_financials_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "financials", selected: true } }
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.details"),
              organisation_activity_details_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "details", selected: false } }
          %li.govuk-tabs__list-item
            = link_to t("tabs.activity.children"),
              organisation_activity_children_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "children", selected: false } }
          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.activity.comments"),
              organisation_activity_comments_path(@activity.organisation, @activity),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "comments", selected: true } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.comment.index")

          %dl.govuk-summary-list.activity_comments
            - @comments.each do |comment|
              - report_presenter = ReportPresenter.new(comment.report)
              .govuk-summary-list__row
                %dt.govuk-summary-list__key
                  = "#{report_presenter.financial_quarter_and_year} #{comment.report.description}"
                %dd.govuk-summary-list__value
                  = comment.comment
                %dd.govuk-summary-list__actions
                  - if policy(comment).update?
                    = a11y_action_link(t("default.link.edit"), edit_activity_comment_path(@activity, comment), t("table.body.report.comment").downcase)

