= content_for :page_title_prefix, t("document_title.activity.financials", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = @activity.title

  - unless @activity.fund?
    .govuk-grid-row
      .govuk-grid-column-full
        = render partial: "staff/shared/activities/activity_summary", locals: { activity_presenter: @activity }

  .govuk-grid-row
    .govuk-grid-column-full
      - if @activity.project? || @activity.third_party_project?
        - if policy(:project).download? || policy(:third_party_project).download?
          = link_to t("default.button.download_as_xml"), organisation_activity_path(@activity.organisation, @activity, format: :xml), class: "govuk-button"

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        = render "staff/shared/activities/tab_nav"

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activity.financials")

          .govuk-grid-row
            .govuk-grid-column-one-half
              %h3.govuk-heading-m
                Summary
              %dl.govuk-summary-list.financial-summary
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    Total budget to date
                  %dd.govuk-summary-list__value
                    = @activity.total_budget
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    Total spend to date
                  %dd.govuk-summary-list__value
                    = @activity.total_spend
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    Total forecasted spend to date
                  %dd.govuk-summary-list__value
                    = @activity.total_forecasted

          - if @activity.fund? && policy(:fund).create?
            = render partial: "staff/shared/activities/budgets",
              locals: { activity: @activity, budget_presenters: @budget_presenters }

          - else
            = render partial: "staff/shared/activities/budgets",
              locals: { activity: @activity, budget_presenters: @budget_presenters }
            = render partial: "staff/shared/activities/forecasts",
              locals: { activity: @activity, forecasts: @forecast_presenters }
            = render partial: "staff/shared/activities/actuals",
              locals: { activity: @activity, actual_presenters: @actual_presenters }
            = render partial: "staff/shared/activities/refunds",
              locals: { activity: @activity, refund_presenters: @refund_presenters }
            = render partial: "staff/shared/activities/adjustments",
              locals: { activity: @activity, adjustment_presenters: @adjustment_presenters }
