= content_for :page_title_prefix, t("document_title.activity.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.activity.index")

  - if current_user.service_owner?
    = render partial: "staff/shared/activities/filter", locals: { organisation_id: @organisation.id }

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Activities

        %ul.govuk-tabs__list
          %li.govuk-tabs__list-item
            = link_to t("tabs.activities.current"),
              activities_path(organisation_id: @organisation.id),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "current", selected: false } }

          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.activities.historic"),
              historic_activities_path(organisation_id: @organisation.id),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "historic", selected: true } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activities.historic")

          = render partial: "staff/shared/activities/tree_view/table", locals: { grouped_programmes: @grouped_programmes }
