= content_for :page_title_prefix, t("document_title.activity.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.activity.index")

  .govuk-grid-row
    .govuk-grid-column-full.page-actions
      = form_tag(organisation_activities_path(@organisation_id), method: "post") do
        = submit_tag t("page_content.organisation.button.create_activity"), class: "govuk-button"

  - if current_user.service_owner?
    = render partial: "staff/shared/activities/filter", locals: { organisation_id: @organisation_id }

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Activities

        %ul.govuk-tabs__list
          %li.govuk-tabs__list-item
            = link_to t("tabs.activities.current"),
              activities_path(organisation_id: @organisation_id),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "current", selected: false } }

          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.activities.historic"),
              historic_activities_path(organisation_id: @organisation_id),
              { class: "govuk-tabs__tab", role: "tab", aria: { controls: "historic", selected: true } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activities.historic")

          %table.govuk-table.activities
            %thead.govuk-table__head
              %tr.govuk-table__row
                %th.govuk-table__header
                  = t("table.header.activity.title")
                %th.govuk-table__header
                  = t("table.header.activity.identifier")
                %th.govuk-table__header
                  = t("table.header.activity.level")
                %th.govuk-table__header

            %tbody.govuk-table__body
              - @historic_activity_presenters.each do |activity|
                %tr.govuk-table__row{ id: activity.id }
                  %td.govuk-table__cell= activity.display_title
                  %td.govuk-table__cell= activity.roda_identifier
                  %td.govuk-table__cell= activity.level
                  %td.govuk-table__cell
                    = a11y_action_link t("table.body.activity.view_activity"),
                      organisation_activity_path(activity.organisation, activity),
                      activity.title
