= content_for :page_title_prefix, t("document_title.activity.index", partner_organisation_name: @organisation.name)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        Activities

      = render partial: "staff/searches/form"

  .govuk-grid-row.activity-page
    .govuk-grid-column-full
      %h2.govuk-heading-l
        = t("document_title.activity.index", partner_organisation_name: @organisation.name)

      - if current_user.service_owner?
        = render partial: "staff/shared/activities/add_activity", locals: { funds: @funds, organisation: @organisation }

      = render partial: "staff/shared/activities/table", locals: { activities: @grouped_activities }
