=content_for :page_title_prefix, t("page_title.activity.show", name: @activity.title)

= link_to t("generic.link.back"), activity_back_path(current_user: current_user, activity: @activity), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @activity.title

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: "staff/shared/activities/activity", locals: { activity_presenter: ActivityPresenter.new(@activity) }

  - if @activity.fund? && policy(:fund).create?
    = render partial: "staff/shared/activities/programmes", locals: { activity: @activity, activities: @activities }
    = render partial: "staff/shared/activities/transactions", locals: { activity: @activity, transaction_presenters: @transaction_presenters }
    = render partial: "staff/shared/activities/budgets", locals: { activity: @activity, budget_presenters: @budget_presenters }

  - if @activity.programme? && policy(:programme).create?
    = render partial: "staff/shared/activities/extending_organisation", locals: { activity: @activity }
    = render partial: "staff/shared/activities/transactions", locals: { activity: @activity, transaction_presenters: @transaction_presenters }
    = render partial: "staff/shared/activities/budgets", locals: { activity: @activity, budget_presenters: @budget_presenters }

  - if @activity.programme? && policy(:project).create?
    = render partial: "staff/shared/activities/projects", locals: { activity: @activity, activities: @activities }

  - if @activity.project? && policy(:project).create?
    = render partial: "staff/shared/activities/transactions", locals: { activity: @activity, transaction_presenters: @transaction_presenters }
    = render partial: "staff/shared/activities/budgets", locals: { activity: @activity, budget_presenters: @budget_presenters }

  - if @activity.project?
    = render partial: "staff/shared/activities/implementing_organisations", locals: { activity: @activity, implementing_organisation_presenters: @implementing_organisation_presenters }
