=content_for :page_title_prefix, t("page_title.activity.show", name: @activity_presenter.title)

-# TODO: This back links is going to break when we have programme activities. We
-# could put this in a helper called something like `link_to_parent_hierarchy`?

= link_to t("generic.link.back"), hierarchy_path_for(@activity_presenter), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @activity_presenter.title

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %dl.govuk-summary-list
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.identitfier.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.identifier
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.sector.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.sector
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.title.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.title
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.description.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.description
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.status.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.status
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.planned_start_date.label")
          %dd.govuk-summary-list__value
            = l(@activity_presenter.planned_start_date)
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.planned_end_date.label")
          %dd.govuk-summary-list__value
            = l(@activity_presenter.planned_end_date)
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.actual_start_date.label")
          %dd.govuk-summary-list__value
            = l(@activity_presenter.actual_start_date)
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.actual_end_date.label")
          %dd.govuk-summary-list__value
            = l(@activity_presenter.actual_end_date)
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.recipient_region.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.recipient_region
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.flow.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.flow
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.finance.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.finance
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.aid_type.label")
          %dd.govuk-summary-list__value
            = @activity_presenter.aid_type
        .govuk-summary-list__row
          %dt.govuk-summary-list__key
            = t("page_content.activity.tied_status.label")
          %dd.govuk-summary-list__value
            = t("activity.tied_status.#{@activity_presenter.tied_status}")
