= content_for :page_title_prefix, t("document_title.activity.index", partner_organisation_name: @organisation.name)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        Activities

      = render partial: "staff/searches/form"

  .govuk-grid-row
    .govuk-grid-column-full
      %h2.govuk-heading-l
        = t("document_title.activity.index", partner_organisation_name: @organisation.name)

      .govuk-tabs
        %ul.govuk-tabs__list{role: "tablist"}
          %li.govuk-tabs__list-item
            = link_to t("tabs.activities.current"),
              organisation_activities_path(@organisation),
              { class: "govuk-tabs__tab", role: "tab", aria: { selected: false } }

          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
            = link_to t("tabs.activities.historic"),
              historic_organisation_activities_path(@organisation),
              { class: "govuk-tabs__tab", role: "tab", aria: { selected: true } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activities.historic")

          = render partial: "staff/shared/activities/tree_view/table", locals: { activities: @grouped_activities }
