= content_for :page_title_prefix, t("page_title.planned_disbursement.upload")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.planned_disbursement.upload")

      %p.govuk-body
        This page allows you to upload forecast spend in bulk using the provided template.

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h2.govuk-heading-m
        = link_to t("action.planned_disbursement.download.button"), report_planned_disbursement_upload_path(@report_presenter, format: :csv), class: "govuk-link"

      %p.govuk-body
        = t("action.planned_disbursement.download.hint_html")

      - if policy(@report_presenter).upload?
        .govuk-body.upload-form
          = form_for @report_presenter, url: report_planned_disbursement_upload_path(@report_presenter) do |f|

            = f.govuk_file_field :planned_disbursement_csv,
              label: { text: t("form.label.planned_disbursement.csv_file") },
              hint: { text: t("form.hint.planned_disbursement.csv_file") }

            = f.govuk_submit t("action.planned_disbursement.upload.button")
      - else
        %h2.govuk-heading-m= t("form.label.planned_disbursement.csv_file")

        %p.govuk-body
          = "This report is #{@report_presenter.state.downcase}, so CSV upload is unavailable."
