=content_for :page_title_prefix, t("page_title.outgoing_transfer.edit")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @transfer.source.title

      %h2.govuk-heading-l
        = t("page_title.outgoing_transfer.edit")

      %p.govuk-body
        = t("intro.outgoing_transfer")

      = form_with model: @transfer, url: activity_outgoing_transfer_path(@transfer.source, @transfer) do |f|
        = render partial: "form", locals: { f: f, source_activity: @transfer.source }

        = f.govuk_submit t("default.button.submit")
        = link_to t("form.link.activity.back"), organisation_activity_path(@transfer.source.organisation, @transfer.source), class: "govuk-button govuk-button--secondary", "data-module": "govuk-button", role: "button"
