= content_for :page_title_prefix, @organisation.name

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.export.organisation.show", name: @organisation.name)

  .govuk-grid-row.activity-page
    .govuk-grid-column-full
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: "col"}= t("table.export.organisation.report")
            %th.govuk-table__header{scope: "col"}= t("table.export.organisation.format")
            %th.govuk-table__header{scope: "col"}= t("table.export.organisation.actions")
        %tbody.govuk-table__body
          - if policy([:export, @organisation]).show_transactions?
            = render partial: "row", locals: { report: "All actuals", format: "CSV", download_url: actuals_exports_organisation_path(@organisation, format: "csv") }
          - if policy([:export, @organisation]).show_xml?
            - @xml_downloads.each do |download|
              = render partial: "row", locals: { report: download.title, format: "XML", download_url: download.path }
          - if policy([:export, @organisation]).show_external_income?
            - Fund.all.each do |fund|
              = render partial: "row", locals: { report: "#{fund.name} external income", format: "CSV", download_url: external_income_exports_organisation_path(@organisation, fund_id: fund.id, format: "csv") }
