%tr.govuk-table__row{id: report.id}
  - if defined?(index) && index == 0
    %th.govuk-table__cell{rowspan: reports.count, scope: "rowgroup", id: report.organisation.id}= report.organisation.name
  %td.govuk-table__cell= report.financial_quarter_and_year
  - if type == "current"
    %td.govuk-table__cell= report.deadline
    %td.govuk-table__cell= report.state
  %td.govuk-table__cell= report.fund.source_fund.short_name
  %td.govuk-table__cell= report.description
  - if type == "current" && current_user.partner_organisation?
    %td.govuk-table__cell= report.can_edit_message
  %td.govuk-table__cell
    - if policy(:report).edit?
      = a11y_action_link(t("default.link.edit"), edit_report_path(report), report.description)
    - if policy(report).show?
      = a11y_action_link(t("default.link.view"), report_path(report), report.description)
