%h3.govuk-heading-m
  = t("tabs.actuals.providing.heading")

%p.govuk-body
  = t("tabs.actuals.providing.copy_html")

%h3.govuk-heading-s
  = t("tabs.actuals.upload.heading")

= t("tabs.actuals.upload.copy_html")

.govuk-inset-text
  = t("tabs.actuals.upload.warning")

.govuk-button-group
  = link_to t("page_content.actuals.button.download_template"), report_actuals_upload_path(@report_presenter, format: :csv), class: "govuk-button govuk-button--secondary"
  = link_to t("page_content.actuals.button.upload"), new_report_actuals_upload_path(@report_presenter), class: "govuk-button"
