=content_for :page_title_prefix, t("page_title.report.actuals",report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }

  = render "reports/meta"

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Contents

        = render partial: "reports/tab_list", locals: { active_tab: "actuals" }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("tabs.actuals.heading")

          %p.govuk-body
            = t("tabs.actuals.copy")

          - if policy(@report_presenter).upload?
            = render partial: "reports/actuals_upload"

          - if policy(@report_presenter).upload_history?
            = render partial: "reports/actuals_upload_history"

            %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

          = render partial: "shared/actuals/actuals_by_activity"
          = render partial: "shared/refunds/refunds_by_activity"
