=content_for :page_title_prefix, t("page_title.report.show", report_fund: @report_presenter.fund.source_fund.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }

  = render "reports/meta"

  .govuk-grid-row
    .govuk-grid-column-full

      .govuk-tabs
        %h2.govuk-tabs__title
          Contents

        = render partial: "reports/tab_list", locals: { active_tab: "summary" }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_content.tab_content.summary.heading")

          .govuk-grid-row
            .govuk-grid-column-two-thirds
              %dl.govuk-summary-list.govuk-summary-list.financial-summary
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    = t("page_content.tab_content.summary.activities_added")
                  %dd.govuk-summary-list__value
                    = @report_presenter.new_activities.count
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    = t("page_content.tab_content.summary.activities_updated")
                  %dd.govuk-summary-list__value
                    = @report_presenter.activities_updated.count
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    = t("page_content.tab_content.summary.actuals_total")
                  %dd.govuk-summary-list__value
                    = @report_presenter.summed_actuals
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    = t("page_content.tab_content.summary.forecasts_total")
                  %dd.govuk-summary-list__value
                    = @report_presenter.summed_forecasts_for_reportable_activities
                .govuk-summary-list__row
                  %dt.govuk-summary-list__key
                    = t("page_content.tab_content.summary.refunds_total")
                  %dd.govuk-summary-list__value
                    = @report_presenter.summed_refunds
