%iati-activity{"default-currency" => activity.default_currency, "xml:lang" => activity.organisation.language_code }
  %iati-identifier= activity.iati_identifier
  %reporting-org{"type" => reporting_organisation.organisation_type, "ref" => reporting_organisation.iati_reference }
    %narrative= reporting_organisation.name
  %title
    %narrative= activity.title
  %description{"type" => "1"}
    %narrative= activity.covid19_related.zero? ? activity.description : "#{activity.description} COVID-19"
  - unless activity.fund?
    %description{"type" => "2"}
      %narrative= activity.objectives
  - if activity.funding_organisation.present?
    %participating-org{"ref" => activity.funding_organisation.iati_reference, "type" => activity.funding_organisation.organisation_type, "role" => 1}
      %narrative= activity.funding_organisation.name
  %participating-org{"ref" => activity.accountable_organisation_reference, "type" => activity.accountable_organisation_type, "role" => 2}
    %narrative= activity.accountable_organisation_name
  - if activity.has_extending_organisation?
    %participating-org{"ref" => activity.extending_organisation.iati_reference, "type" => activity.extending_organisation.organisation_type, "role" => 3}
      %narrative= activity.extending_organisation.name
  - if activity.has_implementing_organisations?
    - activity.implementing_organisations.each do |organisation|
      %participating-org{"ref" => organisation.iati_reference, "type" => organisation.organisation_type, "role" => 4}
        %narrative= organisation.name
  - if activity.previous_identifier?
    %other-identifier{"ref" => activity.transparency_identifier, type: "A1"}
  %activity-status{"code" => activity.iati_status}/
  - if activity.planned_start_date?
    %activity-date{"iso-date" => activity.planned_start_date, type: "1"}/
  - if activity.actual_start_date?
    %activity-date{"iso-date" => activity.actual_start_date, type: "2"}/
  - if activity.planned_end_date?
    %activity-date{"iso-date" => activity.planned_end_date, type: "3"}/
  - if activity.actual_end_date?
    %activity-date{"iso-date" => activity.actual_end_date, type: "4"}/
  %contact-info{"type" => "1"}
    %organisation
      %narrative= I18n.t("contact_info.organisation")
    %department
      %narrative= I18n.t("contact_info.department")
    %email= I18n.t("contact_info.email")
    %website= I18n.t("contact_info.website")
    %mailing-address
      %narrative= I18n.t("contact_info.mailing_address")
  - if activity.benefitting_countries.present?
    - benefitting_countries_with_percentages(activity.benefitting_countries).each do |country|
      %recipient-country{"code" => country.code, "percentage" => country.percentage}
        %narrative= country.name
  - elsif activity.recipient_country?
    %recipient-country{"code" => activity.recipient_country}
      %narrative= country_name_from_code(activity.recipient_country)
  - elsif activity.recipient_region?
    %recipient-region{"code" => activity.recipient_region, vocabulary: "1"}
      %narrative= region_name_from_code(activity.recipient_region)
  %sector{"vocabulary" => "1", "code" => activity.sector}/
  - unless activity.gender_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "1", "significance" => Activity.policy_marker_genders[activity.policy_marker_gender]}/
  - unless activity.biodiversity_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "5", "significance" => Activity.policy_marker_biodiversities[activity.policy_marker_biodiversity]}/
  - unless activity.climate_change_mitigation_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "6", "significance" => Activity.policy_marker_climate_change_mitigations[activity.policy_marker_climate_change_mitigation]}/
  - unless activity.climate_change_adaptation_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "7", "significance" => Activity.policy_marker_climate_change_adaptations[activity.policy_marker_climate_change_adaptation]}/
  - unless activity.desertification_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "8", "significance" => Activity.policy_marker_desertifications[activity.policy_marker_desertification]}/
  - unless activity.disaster_risk_reduction_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "10", "significance" => Activity.policy_marker_disaster_risk_reductions[activity.policy_marker_disaster_risk_reduction]}/
  - unless activity.disability_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "11", "significance" => Activity.policy_marker_disabilities[activity.policy_marker_disability]}/
  - unless activity.nutrition_not_assessed?
    %policy-marker{"vocabulary" => "1", "code" => "12", "significance" => Activity.policy_marker_nutritions[activity.policy_marker_nutrition]}/
  - if activity.collaboration_type?
    %collaboration-type{"code" => activity.collaboration_type}/
  %default-flow-type{"code" => activity.flow}/
  %default-finance-type{"code" => activity.finance}/
  %default-aid-type{"code" => activity.aid_type}/
  %default-tied-status{"code" => activity.tied_status}/
  - if budgets
    - budgets.each do |budget|
      = render partial: "staff/shared/xml/budget", locals: { budget: BudgetXmlPresenter.new(budget) }
  -if forecasts
    - forecasts.each do |forecast|
      = render partial: "staff/shared/xml/planned_disbursement", locals: { forecast: ForecastXmlPresenter.new(forecast) }
  %capital-spend{"percentage" => activity.capital_spend}/
  - if transactions
    - transactions.each do |transaction|
      = render partial: "staff/shared/xml/transaction", locals: { transaction: transaction }
  - if commitment
    = render partial: "staff/shared/xml/commitment", locals: { commitment: commitment }
  - if activity.project?
    - activity.parent_activities.each do |parent_activity|
      %related-activity{"ref" => parent_activity.partner_organisation_identifier, "type" => 1}
