%iati-activity{"default-currency" => activity.default_currency, "xml:lang" => activity.organisation.language_code }
  %iati-identifier= activity.iati_identifier
  - service_owner = Organisation.find_by(service_owner: true)
  - if activity.organisation.is_government_organisation?
    %reporting-org{"type" => service_owner.organisation_type, "ref" => service_owner.iati_reference }
      %narrative= service_owner.name
  - else
    %reporting-org{"type" => activity.organisation.organisation_type, "ref" => activity.organisation.iati_reference }
      %narrative= activity.organisation.name
  %title
    %narrative= activity.title
  %description{"type" => "1"}
    %narrative= activity.description
  - if activity.has_funding_organisation?
    %participating-org{"ref" => activity.funding_organisation_reference, "type" => activity.funding_organisation_type, "role" => 1}
      %narrative= activity.funding_organisation_name
  - if activity.has_accountable_organisation?
    %participating-org{"ref" => activity.accountable_organisation_reference, "type" => activity.accountable_organisation_type, "role" => 2}
      %narrative= activity.accountable_organisation_name
  - if activity.has_extending_organisation?
    %participating-org{"ref" => activity.extending_organisation.iati_reference, "type" => activity.extending_organisation.organisation_type, "role" => 3}
      %narrative= activity.extending_organisation.name
  - if activity.has_implementing_organisations?
    - activity.implementing_organisations.each do |organisation|
      %participating-org{"ref" => organisation.reference, "type" => organisation.organisation_type, "role" => 4}
        %narrative= organisation.name
  %activity-status{"code" => activity.status}/
  %activity-date{"iso-date" => activity.planned_start_date, type: "1"}/
  %activity-date{"iso-date" => activity.actual_start_date, type: "2"}/
  %activity-date{"iso-date" => activity.planned_end_date, type: "3"}/
  %activity-date{"iso-date" => activity.actual_end_date, type: "4"}/
  - if activity.recipient_region?
    %recipient-region{"code" => activity.recipient_region, vocabulary: "1"}/
  - if activity.recipient_country?
    %recipient-country{"code" => activity.recipient_country}/
  %sector{"vocabulary" => "1", "code" => activity.sector}/
  %default-flow-type{"code" => activity.flow}/
  %default-finance-type{"code" => activity.finance}/
  %default-aid-type{"code" => activity.aid_type}/
  %default-tied-status{"code" => activity.tied_status}/
  - if budgets
    - budgets.each do |budget|
      = render partial: "staff/shared/xml/budget", locals: { budget: BudgetXmlPresenter.new(budget) }
  - if transactions
    - transactions.each do |transaction|
      = render partial: "staff/shared/xml/transaction", locals: { transaction: transaction }
