= content_for :page_title_prefix, t("document_title.export.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.export.index")

  .govuk-grid-row.activity-page
    .govuk-grid-column-full

      = render partial: "fund_exports"

      - if ROLLOUT.active?(:level_b_exports, current_user)
        = render partial: "level_b_exports"

      = render partial: "ad_hoc_exports"

      = render partial: "partner_organisation_exports"
