= content_for :page_title_prefix, t("document_title.export.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.export.index")

  .govuk-grid-row.activity-page
    .govuk-grid-column-full

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: "col"}
              = t("table.export.header.fund")
            %th.govuk-table__header{scope: "col"}
              = t("table.export.header.format")
            %th.govuk-table__header{scope: "col"}
              = t("table.header.default.actions")
        %tbody.govuk-table__body
          - Fund.all.each do |fund|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = t("table.export.external_income.name", fund: fund.name)
              %td.govuk-table__cell
                CSV
              %td.govuk-table__cell
                = a11y_action_link("Download", external_income_exports_path(fund_id: fund.id, format: "csv"), t("table.export.external_income.name", fund: fund.name), ["govuk-link--no-visited-state"])
          - Fund.all.each do |fund|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = t("table.export.budgets.name", fund: fund.name)
              %td.govuk-table__cell
                CSV
              %td.govuk-table__cell
                = a11y_action_link("Download", budgets_exports_path(fund_id: fund.id, format: "csv"), t("table.export.budgets.name", fund: fund.name), ["govuk-link--no-visited-state"])
          - Fund.all.each do |fund|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = t("table.export.spending_breakdown.name", fund: fund.name)
              %td.govuk-table__cell
                CSV
              %td.govuk-table__cell
                = a11y_action_link("Request", spending_breakdown_exports_path(fund_id: fund.id), t("table.export.spending_breakdown.name", fund: fund.name), ["govuk-link--no-visited-state"])
      %h1.govuk-heading-m
        = t("page_content.export.organisations.title")

      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header{scope: "col"}
              = t("table.header.organisation.name")
            %th.govuk-table__header{scope: "col"}
              = t("table.header.default.actions")

        %tbody.govuk-table__body
          - @organisations.each do |organisation|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = organisation.name
              %td.govuk-table__cell
                = a11y_action_link("View exports", exports_organisation_path(organisation), "for #{organisation.name}", ["govuk-link--no-visited-state"])
