%table.govuk-table.implementing_organisations
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        =t("table.header.implementing_organisation.name")
      %th.govuk-table__header
        =t("table.header.implementing_organisation.organisation_type")
      %th.govuk-table__header
        =t("table.header.implementing_organisation.reference")
      %th.govuk-table__header
        %span.govuk-visually-hidden
          = t("table.header.default.actions")

  %tbody.govuk-table__body
    - implementing_organisations.each do |organisation|
      %tr.govuk-table__row.implementing_organisation{id: organisation.id}
        %td.govuk-table__cell= organisation.name
        %td.govuk-table__cell= organisation.organisation_type
        %td.govuk-table__cell= organisation.iati_reference
        %td.govuk-table__cell
          - if policy(activity).edit?
            - if !activity.is_ispf_funded? || implementing_organisations.size > 1
              = form_with(scope: :implementing_organisation, model: organisation, url: activity_implementing_organisation_path(activity, organisation), method: :delete) do |f|
                = f.hidden_field :organisation_id, value: organisation.id
                %button.govuk-button.govuk-button--secondary{ name: "delete" }
                  = t("action.implementing_organisation.delete.button")
            - else
              = "You cannot remove the last implementing organisation. Please add another implementing organisation before removing this one."
          - else
            %span.govuk-visually-hidden
              = t("table.cell.default.no_actions_available")
